﻿<script src="~/Scripts/acc_wwComissions.js"></script>

<h2>WW AF Comissions</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
<input type="submit" id="btn-submit">

<table id="tbl-result" class="table_Result" >
</table>