﻿<script src="~/Scripts/NewProcessingFee.js?v=3453"></script>
@{
    ViewBag.Title = "";
}

<h2>Processing Fees Report</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="">
<input type="submit" id="btn-submit"> <input type="submit" id="btn-submitExcel" value="Export to Excel">

<br><br>
<h2 class="h2_title" style="display:none">Excluded Processing Fees Report</h2>
<table id="tbl-result2" class="table_Result" >
</table>
<h2 class="h2_title" style="display:none">Processing Fees Report</h2>
<table id="tbl-result" class="table_Result" >
</table>

<br>

