﻿<script src="~/Scripts/acc_wwComissionDetails.js"></script>


<h2>WW AF Fees Details</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
<input type="submit" id="btn-submit">

<table class="tbl-summary">
    <thead>
        <tr>
            <th>Type</th>
            <th>Fee</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bonus Credit</td>
            <td id="B">0.00</td>
        </tr>
        <tr>
            <td>Bonus Debit</td>
            <td id="N">0.00</td>
        </tr>
        <tr>
            <td>Credit Adjustments</td>
            <td id="C">0.00</td>
        </tr>
        <tr>
            <td>Debit Adjustments</td>
            <td id="D">0.00</td>
        </tr>
        <tr>
            <td>Deposit</td>
            <td id="E">0.00</td>
        </tr>
        <tr>
            <td>Fees Credit</td>
            <td id="F">0.00</td>
        </tr>
        <tr>
            <td>Withdrawal</td>
            <td id="I">0.00</td>
        </tr>
        <tr>
            <td>Total</td>
            <td id="Total">0.00</td>
        </tr>

    </tbody>
</table>

<table id="tbl-result" class="table_Result" >
</table>