﻿<script src="~/Scripts/CashbackBlackList.js?v=44"></script>

<h2>Cashback Black List</h2>

CustomerID: <input type="text" id="customerId" value="">
<input type="submit" id="btn-submit">

<br><br>


<table id="tbl-result" class="table_Result" >
</table>