﻿
@{
    ViewBag.Title = "Csd";
}

@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("Scripts/WPDEmployee.js?v=30108")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}
@ViewData["clerk"]

<h2>WPD Performance Comment</h2>




<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Search Comment</a></li>
        @Html.Raw(@ViewBag.TabText)


  </ul>



<div id="tabs-1">

Select Department : <br />
<input id="Department" type="radio"  class="DepartmentID" name="Department" value="5000"/>
Heritage Clerks
<input id="Department" type="radio"  class="DepartmentID" name="Department" value="2000"/>
Heritage CSD
<input id="MentorID" type="radio"  class="DepartmentID"name="Department" value="13000" />
Heritage Supervisors
<input id="MoversID" type="radio"  class="DepartmentID" name="Department" value="11000" />
    Stage/Line Movers

<br /><br />
Employee 
<select id="EmployeeID"></select>
Status <input id="Active" type="radio"  class="StatusId" name="StatusId" value="A" checked/>
Active
<input id="Inactive" type="radio"  class="StatusId"name="StatusId" value="I" />
Inactive
    <br/>Written by: <select id="SupervisorID"></select>

    <br/> Incident Date From <input type="text" id="datepickerStart"/>   <br />
Incident Date To <input type="text" id="datepickerEnd"/>
    <br />
@*Incident Type <select id="RequestTypeSearch"></select>
    <br /><br />*@

    Comment Category: <br />
   <input id="IsPositiveCommentAll" type="radio"  class="IsPositive" name="IsPositive" value="2" checked="checked"/>
   All
    <input id="IsPositiveCommentPositive" type="radio"  class="IsPositive" name="IsPositive" value="1"/>
    Positive
    <input id="IsPositiveCommentNegative" type="radio"  class="IsPositive" name="IsPositive" value="0"/>
    Negative
    <input id="IsPositiveCommentRegular" type="radio"  class="IsPositive" name="IsPositive" value="2"/>
    Regular
    <br /><br />
<button id="btnSearch"> Search </button>
 <br/><br/>
                   Export to Excel <div id="getInfoToExcel" class="getInfoToExcel"></div>
    <br/><br/>
</div>


<div id="tabs-2" style="display:none;">

Select Department : <br />
<input id="Department" type="radio"  class="DepartmentID" name="Department" value="5000"/>
Heritage Clerks
<input id="Department" type="radio"  class="DepartmentID" name="Department" value="2000"/>
Heritage CSD
<input id="MentorID" type="radio"  class="DepartmentID"name="Department" value="13000" />
Heritage Supervisors
<input id="MoversID" type="radio"  class="DepartmentID" name="Department" value="11000" />
    Stage/Line Movers

<br /><br />
Employee 
<select id="EmployeeIDWPD"></select>

   <br/>IncidentDate <input type="text" id="Incidentdate"/>
  @*   <br />
    Incident Type <select id="RequestType"></select>*@
    <br />
<br />
Comment Category: 
    <input id="IsPositiveComment" type="radio"  class="AddIsPositive" name="AddIsPositive" value="1" checked/>
    Positive
    <input id="IsNegativeComment" type="radio"  class="AddIsPositive" name="AddIsPositive" value="0"/>
    Negative
    <input id="IsRegularComment" type="radio"  class="AddIsPositive" name="AddIsPositive" value="2"/>
    Regular
<br/>
    <br/>Comment <br />
    <textarea id="Comment" cols="100" rows="2" maxlength="1400"></textarea>
<br/>Written by: @ViewData["clerk"]

<input id="SupervisorIDComments" type="hidden"  name="SupervisorIDComments" value="@ViewData["clerk"]"/>
<br /><br />

  <button id="btnAdd"> ADD </button>
</div>

</div>
<div id="div_Result">
    <span>Click on The Comment to update it</span>
    <table id="WPD_Comments" class="table_Result isLink float-left" style="width:96%; display:block;">
    </table>

</div>

<div id="div_Details">
    <div id="closeBtn"></div>
    <div id="innerDiv">
        <h2 id="detail-title"></h2>
        <table id="Comment_Details" class="table_Result" >
            <span id="Id_User">@Html.Raw(@ViewBag.user)</span>
        </table>

@Html.Raw(@ViewBag.Delete)
@Html.Raw(@ViewBag.Update)
        


    </div>
</div>