﻿
@{
    ViewBag.Title = "Log";
}

@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/WPDEmployee.js?v=30107")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=1")" rel="stylesheet"/>
}
@ViewData["clerk"]

<h2>WPD Performance Comment</h2>




<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Search Logs</a></li>
        @Html.Raw(@ViewBag.TabText)


  </ul>



<div id="tabs-1">



    <br/>Date From <input type="text" id="datepickerStart"/>   <br />
Date To <input type="text" id="datepickerEnd"/>
    <br />

<button id="btnSearchlog"> Search </button>
</div>




</div>
<div id="div_Result">
    <span>Click on The Comment to update it</span>
    <table id="WPD_Comments" class="table_Result isLink float-left" style="width:96%; display:block;">
    </table>

</div>

<div id="div_Details">
    
    
    <div id="closeBtn"></div>
    <div id="innerDiv">
        <h2 id="detail-title"></h2>
        <table id="Comment_Details" class="table_Result" >
            <span id="Id_User">@Html.Raw(@ViewBag.user)</span>
        </table>

        @Html.Raw(@ViewBag.Delete)
        @Html.Raw(@ViewBag.Update)
        


    </div>
</div>