﻿@{
    ViewBag.Title = "Deposit Exception";
}

<h2>Deposit Exception</h2> User : @ViewBag.clerk
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery211.min.js?v=00005")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap335.min.js?v=00005")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/CSD/CsdDeposits.js?v=001118")"></script>
}
@section css {
    <link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="@Url.Content("~/Content/bootstrap3.3.5.min.css?v=2")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.css?v=2")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet" />
}




<hr />

<div class="container">
    <div class="row">
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date'>
                    <input type='text' class="form-control" placeholder="Customer Id" id='txtCustomerid' value="" />
                    <span class="input-group-addon">
                        <span class="fas fa-user"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date'>
                    <input type='text' class="form-control" placeholder="Transaction Id" id='txtTransactionid' value="" style="display:none;" />
                    <span class="input-group-addon">
                        <span class="fas fa-exchange"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date'>
                    <input type='text' class="form-control" placeholder="Clerk Id" id='txtClerkid' value="" style="display:none;"/>
                    <span class="input-group-addon">
                        <span class="fas fa-clipboard-user"></span>
                    </span>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <input type="hidden" value="@ViewBag.clerk" id="clerk" />
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Get Deposit information</h5>
                    <p class="card-text">You can Get the information per customer/ TransactionID or ClerkID.</p>
                    <input class="btn btn-primary btn-block" type="submit" value="Get Deposit Exception" onClick="GetDepositsCSD()">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Deposit Exception</h5>
                    <p class="card-text">Add a New Deposit Exception.</p>
                    <input class="btn btn-primary btn-block" type="submit" value="Add New Exception" onClick="ADDDepositsCSD()">
                </div>
            </div>
        </div>




    </div>
    <div class="row">
        <table id="AccumulatedSummary" class="table_Result" width="100%">
        </table>
    </div>
</div>

<br />
<br />

