﻿<script src="~/Scripts/moveGames.js?v=7128"></script>

<h2>Move Games</h2>
<div class="step1">
     <h3>Move from <span style="font-size: 11px">(Step #1)</span></h3>
    Sport:<select id="selSportTypeList" class="selSportTypeList"><option selected="selected" hidden="hidden">Sport</option></select>
    League: <select id="selSportSubTypeList" class="selSportSubTypeList"></select>
    From:<input type="text" id="datepickerStart" size="6"/> To:<input type="text" id="datepickerEnd" size="6"/>
    <input type="submit" id="btn-submit" value="Get Games">
</div>
<div class="step2">
     <h3>Set Rotations <span style="font-size: 11px">(Step #2)</span></h3>
    From: <input type="text" class="RotationFrom numeric" size="4"/>
    To: <input type="text" class="RotationTo numeric" size="4"/>
    <input type="submit" id="btn-submit2" value="Filter">
</div>

<div class="step3">
    <h3>Move to <span style="font-size: 11px">(Step #3)</span></h3>
    Sport: <select id="selSportTypeList2" class="selSportTypeList"><option selected="selected" hidden="hidden">Sport</option></select>
    League: <select id="selSportSubTypeList2" class="selSportSubTypeList"></select>
    <input type="submit" id="btn-submit3" value="Move">
</div>
<br>
<h3 class="_title"></h3>
<table id="tbl-result" class="table_Result" >
</table>

<style>
     h3{margin: -8px auto 13px auto;}
     .step1 {
         border: solid 1px #0008ff;
         padding: 10px;
         width: 800px;
         text-align: center;
         margin: 10px;
         display: block;
     }
    .step2 {
        border: solid 1px #989797;
        padding: 10px;
        width: 800px;
        text-align: center;
        margin: 10px;-
        display: block;
    }
    .step3 {
        border: solid 1px darkgreen;
        padding: 10px;
        width: 800px;
        text-align: center;
        margin: 10px;
        display: block;
    }
</style>