﻿@{
    ViewBag.Title = "Acounting";
}

<h2>Accounting</h2> 1) Get NortBet Information
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("../Scripts/acc_newSignups.js?v=00017")"></script>

}
@section css {
  
    <link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet"/>
   <link href="@Url.Content("~/Content/wpd.css?v=3")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/site.css?v=3")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.css?v=2")" rel="stylesheet"/>
}

<div class="clear top-space">
    From: <br>
          <input type="text" id="datepickerStart" placeholder="Start Date"/>
          To: <input type="text" id="datepickerEnd" placeholder="End Date"/>
       

<input id="btnSubmit" type="button" value="Get Win Loss" onClick="getNorthbetWinLoss()" class="btn btn-primary btn-sm"/>* 
<input id="btnSubmit" type="button" value="Get Bonus Adjustments" onClick="GetNorthBetBonusAdjustments()" class="btn btn-primary btn-sm"/><br/><br/>
Based on the Date Range or the amount of information the Report the report took some time.
<hr/>


<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div1">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>