﻿
<script src="~/Scripts/acc_PerHeadAgentHierarchy.js?v=1"></script>
<link href="~/Content/bootstrap3.3.7.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-treeview.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-treeview.min.js"></script>

<style>

    .noRelevant {
        background-color: #d9534f;
        color:#fff;
    }

    .node-treeview-selectable:not(.node-disabled):hover{
        background-color:#F5F5F5;
        color:#000;
    }

</style>

<script>

</script>

<h2>Per Head Agent Hierarchy</h2>
<br>

<div class="container">
<div class="row">
    <div class="col-sm-3">
        <input type="text" id="agentId" placeholder="Agent ID">
    </div>
    <div class="col-sm-3">
        <input id="btnSubmit" type="button" value="Submit" onclick="GetPHagentHierarchy()">
    </div>
    <div class="col-sm-3">
        <input type="checkbox" id="chk-showAll" value="false">Show All
    </div>
    <div class="col-sm-3">
        <input type="radio" name="system" value="ASI" checked>ASI &nbsp; <input type="radio" name="system" value="DGS">DGS
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <br>Note: This report only shows AGENTS relevant to the accounting department. To have a full display of the hierarchy, please select SHOW ALL
    </div>
</div>
</div>

<div class="container">
  <div class="row">
        <hr>
       
        <div class="col-sm-4">
          <h2>Search Tree</h2>
          <div class="form-group">
            
            <input type="input" class="form-control uppercase" id="input-select-node" placeholder="Identify node..." value="">
            
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkbox" id="chk-select-multi" value="false">
              Multi Select
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkbox" id="chk-select-silent" value="false">
              Silent (No events)
            </label>
          </div>
          <div class="form-group">
              <button type="button" class="btn btn-success select-node" id="btn-select-node">Select Node</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger select-node" id="btn-unselect-node">Unselect Node</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary select-node" id="btn-toggle-selected">Toggle Node</button>
          </div>
        </div>
        <div class="col-sm-4">
          <h2>Tree</h2>
          <div id="treeview-selectable" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Events</h2>
          <div id="selectable-output"></div>
        </div>
      </div>
</div>


