﻿<script src="~/Scripts/acc_newSignups.js"></script>
<link href="~/Content/ww_convertionRate.css" rel="stylesheet" />

<h2>New Signups</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="">
                 <input type="submit" id="btn-submit">


<table id="tbl-total" class="table_Result">
    <thead>
        <tr>
            <th>
                New Signups
            </th>
            <th>
                First Deposits
            </th>
            <th>
                Amount (first deposits)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="td-signups"></td>
            <td id="td-firstdeposits"></td>
            <td id="td-amount"></td>
        </tr>
    </tbody>
</table>

<table id="tbl-details">
    <thead>
        <tr>
            <td>
                New Signups
            </td>
            <td>
                First Deposits
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table id="tbl-result" class="table_Result" >
                </table>
            </td>
            <td>
                <table id="tbl-firstDeposit" class="table_Result" >
                </table>
            </td>
        </tr>
    </tbody>
</table>



