﻿@{
    ViewBag.Title = "Fees Maintenance";
}

<h2>Fees Maintenance</h2>
@section JavaScript
{
<script type="text/javascript"src="@Url.Content("~/Scripts/jquery-3.3.1.min.js?v=00005")"></script>
<script type="text/javascript"src="@Url.Content("~/Scripts/umd/popper.js?v=00005")"></script>
<script type="text/javascript"src="@Url.Content("~/Scripts/bootstrap.min.js?v=00005")"></script>
<script type="text/javascript"src="~/Scripts/feesMaintenance.js?v=9"></script>
}


@section css {

  <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
 
   
}


<div class="form-group">
select Method: 
<select id="TranType" onchange="GetFeesMethod()">
  <option value="" selected="selected">ALL</option>
  <option value="C">Credit Adjustment</option>
  <option value="D">Debit Adjustment</option>
  <option value="E">Deposit</option>
<option value="F">Fees Credit</option>
<option value="H">Fees Debit</option>
<option value="B">Promotional Credit</option>
<option value="N">Promotional Debit</option>
<option value="T">Transfer Credit</option>
<option value="U">Transfer Debit</option>
<option value="I">Withdrawal</option>
<option value="Z">Zero Balance</option>
</select>


@*<button class="dropdown-item" type="button" onClick="GetFeesMethod()">Submit</button>*@


<div class="clear top-space">
<img id="getInfoToExcel" src="../../Content/Images/excel.png" title="Download"/>

</div>


<div class="row">
    <table id="tbl-result" class="table_Result" >
    </table>
</div>

</div>