﻿@using HSIntranetV2.Models
@{
    ViewBag.Title = "Index";
}


@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/NoAction.js?v=00002")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<h2>Games With No Action</h2>
<div id="tabs">
    <ul>

        <li><a href="#tabs-1">Check Props</a></li>
        <li><a href="#tabs-2">Check Futures</a></li>
<li><a href="#tabs-3">Check Games</a></li>

        @*<li><a href="#tabs-1">Check Games</a></li>*@
       <!--<li><a href="#tabs-2">Check Props</a></li>-->

    </ul>


    <div id="tabs-1">
        <button id="btnGame"> Get Props </button>
    </div>

    <div id="tabs-2">
        <button id="btnProps"> Get Futures </button>
    </div>
   <div id="tabs-3">
        <button id="btnAllGames"> Get Games </button>
    </div>
</div>
<div id="div_Result">
    <table id="No_ActionList" class="table_Result isLink float-left" style="width:96%; display:block;">
        

    <!--<div id="tabs-2">
        <button id="btnProps"> Get Props </button>
    </div>-->
</div>
<div id="div_Result">
    <table id="No_ActionList" class="table_Result isLink float-left" style="width:96%; display:block;">
@Html.Raw(@ViewBag.Delete)
        
    </table>

</div>
<div id="div_Details">
    <div id="closeBtn"></div>
    <div id="innerDiv">
        <h2 id="detail-title"></h2>
        <table id="Comment_Details" class="table_Result" >
        </table>

      
<button id="btnUpdate"> Update </button>

    </div>
</div>
