﻿@{
    ViewBag.Title = "Accumulated Risk";
}

<h2>Accumulated Risk</h2> 
@section JavaScript
{
<script type="text/javascript"src="@Url.Content("~/Scripts/jquery211.min.js?v=00005")"></script>
<script type="text/javascript"src="@Url.Content("~/Scripts/moment290.js?v=00005")"></script>
<script type="text/javascript"src="@Url.Content("~/Scripts/bootstrap335.min.js?v=00005")"></script>

<script type="text/javascript"src="@Url.Content("~/Scripts/bootstrap-datetimepicker414.js?v=0005")"></script>
   <script type="text/javascript"src="@Url.Content("~/Scripts/LiveDealer.js?v=00005")"></script>






}
@section css {
    <link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet"/>

 


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 <link href="@Url.Content("~/Content/bootstrap3.3.5.min.css?v=2")" rel="stylesheet"/>

<link href="@Url.Content("~/Content/bootstrap-datetimepicker.css?v=2")" rel="stylesheet"/>

<link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}










 
<hr/>


<div class="container">
    <div class="row">
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date' >
                    <input type='text' class="form-control" placeholder="Customer Id" id='txtCustomerid'/>
                    <span class="input-group-addon">
                        <span class="fas fa-user"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" placeholder="Start Date" id='Startdate'/>
                    <span class="input-group-addon">
                        <span class="fas fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" placeholder="End Date" id='Enddate'/>
                    <span class="input-group-addon">
                        <span class="fas fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        
    </div>
<div class="row">
<input class="btn btn-primary btn-block" type="submit" value="Submit" onClick="getAccumulated()">
</div>
<div class="row">
    <table id="AccumulatedSummary" class="table_Result" width="100%" >
    </table>
</div>
</div>

<br/><br/>

<script type="text/javascript">
    $(function () {

        var dateNow = new Date();
        $('#datetimepicker1').datetimepicker({
            useCurrent: false
        });
        $('#datetimepicker2').datetimepicker({
            useCurrent: false
        });
    });
</script>