﻿@{
    ViewBag.Title = "BETREGAL DAILY REPORT";
}
<h2>BETREGAL DAILY REPORT</h2>

@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("~/Scripts/LiveDealer.js?v=00005")"></script>

}
@section css {
  
    <link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet"/>
   <link href="@Url.Content("~/Content/wpd.css?v=3")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/site.css?v=3")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.css?v=2")" rel="stylesheet"/>
}

<div class="container">

   
  <div class="row">
<div class="card">
  <div class="card-header">
    Daily Report
  </div>
  <div class="card-body">
    <h5 class="card-title">Daily Report for Canada</h5>
      <p class="card-text"> contains daily registrations, deposits, total betting volume, total net revenue and split between sports and casino.</p>
   From:   <input type="text" id="datepickerStart" placeholder="Start Date"/>
 To: <input type="text" id="datepickerEnd" placeholder="End Date"/>
    <a href="#" class="btn btn-primary" onClick="BRGetRevenue()">Get Report</a>
  </div>
</div>
        


    </div>


    
          
       



<hr/>


<div id="row">
    <table id="PokerSummary" class="table_Result"  >

    </table>

</div>

<div id="div1">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>
</div>