﻿@{
    ViewBag.Title = "Casino Report final";
}

<h2>Casino Profit</h2> General Casino Report
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/LiveDealer.js?v=00003")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<div class="clear top-space">


<br/><br/>
  
</div>
 <input id="btnSubmit" type="button" value="Submit" onClick="getCasinototalCSD()"/>
 <input id="btnSubmitE" type="button" value="Export To Excel" onClick="getCasinoTotalCSDExcel()"/>
<div id="div_Summary"> 
To sort just click on the Column you want.
    <table id="CasinoSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>
    <table id="LDSummary" class="table_Result" width="900px" >
    </table> 

    
</div>
 
<hr/>
<div id="div_Summary">
   

    <table id="CasinoProfitSummary" class="table_Result" width="900px" >
    </table>
</div>