﻿<script src="~/Scripts/ww_casinotransactions.js"></script>

<h2>Casino Transactions</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb_agentid" value="BetregalMA" disabled="disabled">
CustomerID: <input type="text" id="txb_customerID" value="">
<input type="checkbox" name="input_nonposted" id="input_nonposted">Non posted transactions
<input type="submit" id="btn-submit">

<table id="tbl-result" class="table_Result" >
</table>