﻿<script src="~/Scripts/ww_comissions.js?v=1023"></script>

<h2>WW AF Commissions</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="WagerWeb">
<input type="submit" id="btn-submit">
<table class="tbl-summary">
<tbody>
    
    <tr>
        <td>
            Net Amount
        </td>
        <td>
            <span class="span-totalNetAmount"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total TotalFees
        </td>
        <td>
            <span class="span-totalTotalFees"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Commission
        </td>
        <td>
            <span class="span-totalCommission "></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Agent Fee
        </td>
        <td>
            <span class="span-totalAgentFee "></span>
        </td>
    </tr>
</tbody>
</table>
<table id="tbl-result" class="table_Result" >
</table>

<table class="tbl-summary">
<tbody>
    
    <tr>
        <td>
            Net Amount
        </td>
        <td>
            <span class="span-totalNetAmount"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total TotalFees
        </td>
        <td>
            <span class="span-totalTotalFees"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Commission
        </td>
        <td>
            <span class="span-totalCommission "></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Agent Fee
        </td>
        <td>
            <span class="span-totalAgentFee "></span>
        </td>
    </tr>
</tbody>
</table>