﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Wagerweb Report</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!--
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
-->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <!-- jQuery library -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>


    <!-- Latest compiled JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style media="screen" type="text/css">
        .sortorder:after {
            content: '\25b2';
        }

        .sortorder.reverse:after {
            content: '\25bc';
        }

        form {
            padding: 0.5rem;
        }
    </style>

    <script type="application/javascript">
        function on() {
            document.getElementById("overlay").style.display = "flex";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }
    </script>

</head>

<body ng-app="datosApp">
    <div ng-controller="controladorDatos" class="container">
        <div id="overlay" onclick="off()">
            <div class="w-100 d-flex justify-content-center align-items-center">
                <div class="spinner"></div>
            </div>
        </div>
        <div class="card">


            <hr>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            WW Manual Transaction: <small>(Manual BTC Transaction)</small>
                        </div>

                        <form>
                            <div class="row">

                                <div class="col-md-2">
                                    <label for="cid">Customerid</label>
                                    <input type="text" class="form-control" id="cid" data-ng-model="cid" autocomplete="off" placeholder="Customerid">
                                </div>
                                <div class="col-md-3">
                                    <label for="BTCAddress">BTC Address</label>
                                    <input type="text" class="form-control" id="BTCAddress" data-ng-model="BTCAD" autocomplete="off" placeholder="BTC Address">
                                </div>
                                <div class="col-md-2">
                                    <label for="BtcHash">BTC Hash</label>
                                    <input type="text" class="form-control" id="BtcHash" data-ng-model="BTCHA" autocomplete="off" placeholder="BTC Hash">
                                </div>
                                <div class="col-md-2">
                                    <label for="BtcAmount">BTC Amount</label>
                                    <input type="text" class="form-control" id="BtcAmount" data-ng-model="BTCAM" autocomplete="off" placeholder="BTC Amount">
                                </div>
                                <div class="col-md-2">
                                    <label for="UsdAmount">$ Amount</label>
                                    <input type="text" class="form-control" id="UsdAmount" data-ng-model="Amount" autocomplete="off" placeholder="Usd Amount">
                                </div>



                            </div>
                            <hr>
                            <div class="row">
                                <!--     <div class="col-md-2">
        <label for="BtcForAddress">Btc From Address</label>
          <input type="text" class="form-control" id="BtcForAddress" data-ng-model="BtcForAddress" autocomplete="off" placeholder="Btc From Address">
      </div> 
      <div class="col-md-2">
        <label for="Wallet">Wallet ID</label>
          <input type="text" class="form-control" id="Wallet" data-ng-model="Wallet" autocomplete="off" placeholder="Wallet">
      </div>  -->
                                <div class="col-md-9">
                                    <label for="Comments">Comments</label>
                                    <input type="text" class="form-control" id="Comments" data-ng-model="Comments" autocomplete="off" placeholder="Comments">
                                </div>
                                <div class="col-md-3">

                                    <button style="margin-top: 20px;" type="submit" class="btn btn-block btn-primary btn-lg" ng-click="AddPayment(cid,BTCAD,BTCHA,BTCAM,Amount,Comments)">Add Payment</button>
                                </div>
                            </div>
                            <!--   <div class="row">
    <div class="col-md-3">
          
        <button type="submit" class="btn btn-block btn-primary btn-lg" ng-click="GetCashByCustomer(datepicker,cid)"  >Add Payment</button>
             </div>
  </div> -->
                            <div class="card-header">
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>




        <br>
        <div ng-show="ShowRequest==true">

            <div class="card-header">
                Manual Transaction  <small>(Click on the title to sort)</small>
            </div>




            <!-- Collect the nav links, forms, and other content for toggling 
        
          <div class="form-group col-md-3">
      <label for="inputAddress2">Customer id</label>
         <input type="text" class="form-control" id="customerid" placeholder="customerid">
    </div>-->



            <ul class="list-group">
                <div class="row">


                    <div class="col-sm-2">
                        <button ng-click="sortBy('CustomerID')" class="btn btn-info">Error</button>
                        <span class="sortorder" ng-show="propertyName === 'CustomerID'" ng-class="{reverse: reverse}"></span>
                    </div>



                    <div class="col-sm-4">
                        <button ng-click="sortBy('status')" class="btn btn-info">Result</button>
                        <span class="sortorder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span>
                    </div>


                </div>

                <li ng-repeat="datos in data |  orderBy:propertyName:reverse" class="list-group-item">

                    <div class="row">
                        <div class="col-sm-2">{{datos.Error}}</div>
                        <div class="col-sm-4">{{datos.description}}</div>


                    </div>

                </li>
            </ul>
        </div>

        <div class="container">
            <div class="row">
   
              <div class="col-md-3">
                <label for="inputAddress2">Start Date</label>
                  <input type="text" class="datepicker form-control" id="start" data-ng-model="nt2" autocomplete="off" placeholder="Start Date">
              </div>
              <div class="col-md-3">
                <label for="inputAddress2">End Date</label>
                  <input type="text" class="datepicker form-control" id="end" data-ng-model="ent2" autocomplete="off" placeholder="End Date">
              </div>
                <div class="col-md-3">
                    <label>Filter</label>
                    <select name="filterConfirmed" ng-model="filterConfirmed" class="form-control">
                      <option value="0">* All *</option>
                      <option value="1">Confirmed</option>
                      <option value="2">No Confirmed</option>
                    </select>
              </div> 
              <div class="col-md-3">  
                <button type="submit" class="btn btn-block btn-primary btn-lg" ng-click="GetBTCtransactions()" style="margin-top: 20px;" >Submit</button>
              </div>

            </div>
        </div>
        <br />
        <table class="table table-striped table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>CustomerID</th>
                    <th>BTC Address</th>
                    <th>BTC Hash</th>
                    <th>BTCAmount</th>
                    <th>Amount</th>
                    <th>Created Date</th>
                    <th>Comments</th>
                    <th>Confirmed</th>
                    <th>Confirmed Date</th>
                </tr>
            </thead>
          <tr ng-repeat="x in trans">
            <td>{{ x.CustomerID }}</td>
            <td>{{ x.BTCAddress }}</td>
            <td>{{ x.BTCTXHash }}</td>
            <td>{{ x.BTCAmount }}</td>
            <td>{{ x.Amount }}</td>
            <td>{{ x.CreatedDate | filterdate | date:'medium' }}</td>
            <td>{{ x.Comments }}</td>
            <td>{{ x.Confirmed }}</td>
            <td>{{ x.ConfirmedDate | filterdate | date:'medium' }}</td>
          </tr>
        </table>

    </div>

    <script type="text/javascript">
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
    </script>
    <script>

        var user = getUrlParameter('user');

        console.log(user);
        var misDatos = angular.module('datosApp', []);
        misDatos.filter("jsDate", function () {
            return function (x) {
                return new Date(parseInt(x.substr(6)));
            };
        });

        misDatos.filter("filterdate", function () {
            var re = /\/Date\(([0-9]*)\)\//;
            return function (x) {
                var m = x.match(re);
                if (m) return new Date(parseInt(m[1]));
                else return null;
            };
        });


        misDatos.controller('controladorDatos', function ($scope, $http) {
            dateend = '';
            dateObject = '';
            $scope.Site = 'Heritage';

            $scope.filterConfirmed = "0";

            $("#start").datepicker(
                    {
                        onSelect: function () {
                            var closedate = $("#start").datepicker("getDate");

                            dateObject = $.datepicker.formatDate("dd/MM/yyyy", closedate);

                            dateObject = $('#start').datepicker({ dateFormat: 'dd-mm-yy' }).val();
                            console.log(dateObject);
                        }
                    }


                );

            $("#end").datepicker(
                {
                    onSelect: function () {
                        var closedate = $("#end").datepicker("getDate");

                        dateend = $.datepicker.formatDate("dd/MM/yyyy", closedate);

                        dateend = $('#end').datepicker({ dateFormat: 'dd-mm-yy' }).val();
                        console.log(dateend);
                    }
                }


            );         

            $scope.GetBTCtransactions = function () {
                
                loader();

                var $url = '/WW_CustMaintenance/GetBTCtransactions',
                        $data = {

                            dateFrom: dateObject,
                            dateTo: dateend,
                            filterConfirmed: $scope.filterConfirmed
                        };

                $http({
                    url: $url,
                    method: "GET",
                    params: $data

                }).then(function successCallback(response) {
                    // this callback will be called asynchronously
                    // when the response is available
                    $scope.trans = response.data;
                    loader();

                }, function errorCallback(response) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                    loader();
                    console.log(response);
                    alert("Error: " + response);
                });


            }

            $scope.AddPayment = function (cid, BTCAD, BTCHA, BTCAM, Amount, Comments) {
                console.log(cid, BTCAD, BTCHA, BTCAM, Amount, Comments);

                loader();

                $http.post('/WW_CustMaintenance/AddBtcPayment?customerId=' + cid + '&btcAddress=' + BTCAD + '&btcAmount=' + BTCAM + '&btcHash=' + BTCHA + '&usdAmount=' + Amount + '&comments=' + Comments).
                    success(function (datos) {

                        $scope.data = datos;
                        //console.log(datos);
                        $scope.ShowRequest = true;
                        loader();

                    }).error(function (datos) {
                        console.log(datos);
                        loader();
                        alert("Error: " + datos);
                    });

            }

            $scope.sortBy = function (propertyName) {
                $scope.reverse = ($scope.propertyName === propertyName) ? !$scope.reverse : false;
                $scope.propertyName = propertyName;
            };



        });



    </script>

</body>

</html>
