﻿@{
    ViewBag.Title = "DGS";
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/Scripts/DGS/DgsUser.js?v=00006")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DGS/DGSCommon.js?v=00006")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/tablesorter/style.css?v=2")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet" />
}

<style type="text/css">



    .btnSendQueue {
        border: 1px solid grey;
    }

    .lblRefresh {
        -moz-animation: cssAnimationHide 0s ease-in 5s forwards;
        /* Firefox */
        -webkit-animation: cssAnimationHide 0s ease-in 5s forwards;
        /* Safari and Chrome */
        -o-animation: cssAnimationHide 0s ease-in 5s forwards;
        /* Opera */
        animation: cssAnimationHide 0s ease-in 5s forwards;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    #div_Summary {
        float: left;
        margin-right: 15px;
    }

    h5 {
        float: left !important;
        font-size: 1rem !important;
    }

    .btn {
        padding: .2rem .2rem !important;
        margin-left: 5px;
    }

    .card-body {
        padding: 1rem !important;
    }
</style>

<div class="container card border-primary mb-3" style="max-width: 108rem;">
    <!-- Content here -->
    <h5 class="card-title">DGS Users</h5>


    <br />
    <div class="row">

        <div class="col-sm">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">DGS Release Inactive Users</div>
                <div class="card-body text-primary">
                    <h5 class="card-title"></h5>


                    <button type="button" class="btn btn-success" id="Btnenable" onClick="ReleaseUser()">Release Inactives</button>

                </div>
            </div>

        </div>

    </div>



    <div id="div_Summary">


    </div>

</div>


<!-- publisher Queu -->
<div class="container card border-primary mb-3" style="max-width: 108rem;">
    <!-- Content here -->
    <h5 class="card-title">Logged Users</h5>

    <br />
    <div class="row">
        <div class="col-sm">
            <div class="card border-primary mb-lg-auto">
                <div class="card-header">Logged Users</div>
                <div class="card-body text-primary">



                    <button type="button" class="btn btn-success" id="btnRefreshPublisher" onClick="GetLoggedUsers()">Get Logged Users</button>

                

                </div>
                <table id="GameSummary" class="table_Result" width="90%">
                </table>
                <table id="GameSummary2" class="table_Result" width="90%">
                </table>
            </div>

        </div>


    </div>
</div>
