﻿<script src="~/Scripts/dgs_agentsWithBalance.js?v=1"></script>
<link href="~/Content/ww_convertionRate.css" rel="stylesheet" />

<style type="text/css">

#tbl-resultA tbody tr:first-child {
    background-color: #FCE87F;
}

</style>

<h2>DGS Agents Balance</h2>

From:<input type="text" id="datepickerStart"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="">
<input type="submit" id="btn-submit"> 
<br><br>Example: Balance date as start of the day.<br>
<br/><img id="DownloadInfoToExcel" src="../../Content/Images/excel.png" title="Download"/>

<table id="tbl-resultA" class="table_Result" >
</table>