﻿@{
    ViewBag.Title = "DGS";
}

@section JavaScript
{
    <script type="text/javascript"src="@Url.Content("Scripts/DGS/DGS.js?v=00006")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DGS/DGSCommon.js?v=00006")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/tablesorter/style.css?v=2")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet"/>
}

<style type="text/css">

   

    .btnSendQueue {
        border: 1px solid grey;
    }

    .lblRefresh {
        
        -moz-animation: cssAnimationHide 0s ease-in 5s forwards;
        /* Firefox */
        -webkit-animation: cssAnimationHide 0s ease-in 5s forwards;
        /* Safari and Chrome */
        -o-animation: cssAnimationHide 0s ease-in 5s forwards;
        /* Opera */
        animation: cssAnimationHide 0s ease-in 5s forwards;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    #div_Summary {
        float: left;
        margin-right: 15px;
    }

    h5 {
        float: left !important;
        font-size: 1rem !important;
    }

    .btn {
        padding: .2rem .2rem !important;
        margin-left: 5px;
    }

    .card-body {
        padding: 1rem !important;
    }

</style>

<div class="container card border-primary mb-3" style="max-width: 108rem;">
  <!-- Content here -->
    <h5 class="card-title">DGS Scores Synchronizer</h5>


<br/>
    <div class="row">
    <div class="col-sm">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Synchronizer Status</div>
  <div class="card-body text-primary">
    <h5 class="card-title">The Synch is: </h5>
    
        <div id="div_Summary">
    
            <button type="button" class="btn btn-success" id="IsEnable"></button>
   
        </div>
       <button type="button" class="btn btn-light" id="btnRefresh" onClick="GetScore(1)">Refresh</button>
    
  </div>
</div>
   
    </div>
    <div class="col-sm">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Scores Synchronizer</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Start the Synchronizer</h5>
    
  
      <button type="button" class="btn btn-success" id="Btnenable" onClick="EnableScore(1, 1)">Run</button>
     
  </div>
</div>
     
    </div>
    <div class="col-sm">
                        <div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Scores Synchronizer</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Stop the Synchronizer</h5>
    
   
       <button type="button" class="btn btn-danger" id="Btndisable" onClick="EnableScore(1, 0)">Stop</button>
        
  </div>
</div>
     
    </div>
  </div>


<div id="div1">
     <button type="button" class="btn btn-success" id="btnstatus"></button>
</div>

<div id="div_Summary">
  <h5 class="card-title">Games Not Synchronizer</h5> 
    <button type="button" class="btn btn-light" id="btnRefresh" onClick="GetScoreNoSent(1)">Refresh</button>
    <button type="button" class="btn btn-light" id="btnSendQueue" ">Send all scores</button>
    <span id="lblRefresh">...</span>
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
    
</div>

</div>

<!-- services -->
<div class="container card border-primary mb-3" style="max-width: 108rem;">
  <!-- Content here -->
    <h5 class="card-title">DGS Windows Services</h5>


<br/>
    <div class="row">
    <div class="col-sm">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Charting Status</div>
      <div class="card-body text-primary">
        <h5 class="card-title">The service is: </h5>
    
            <div id="div_Summary">
    
                <button type="button" class="btn btn-success" id="IsEnableCharting"></button>
   
            </div>
           <button type="button" class="btn btn-light" id="btnRefreshCharting" onClick="DGSService(1, -1)">Refresh</button>
    
      </div>
    </div>
   
    </div>
    <div class="col-sm">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Charting</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Start the service</h5>
    
          <button type="button" class="btn btn-success" id="BtnenableCharting" onClick="DGSService(1, 1)">Run</button>
     
      </div>
    </div>
     
    </div>
    <div class="col-sm">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Charting</div>
            <div class="card-body text-primary">
                <h5 class="card-title">Stop the service</h5>
    
                <button type="button" class="btn btn-danger" id="BtndisableCharting" onClick="DGSService(1, 0)">Stop</button>
        
            </div>
        </div>
     
    </div>
  </div>

    <!-- publisher -->


    <br/>
    <div class="row">
    <div class="col-sm">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Line Publisher Status</div>
      <div class="card-body text-primary">
        <h5 class="card-title">The service is: </h5>
    
            <div id="div_Summary">
    
                <button type="button" class="btn btn-success" id="IsEnablePublisher"></button>
   
            </div>
           <button type="button" class="btn btn-light" id="btnRefreshPublisher" onClick="DGSService(2, -1)">Refresh</button>
    
      </div>
    </div>
   
    </div>
    <div class="col-sm">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Line Publisher</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Start the service</h5>
    
          <button type="button" class="btn btn-success" id="BtnenablePublisher" onClick="DGSService(2, 1)">Run</button>
     
      </div>
    </div>
     
    </div>
    <div class="col-sm">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Line Publisher</div>
            <div class="card-body text-primary">
                <h5 class="card-title">Stop the service</h5>
    
                <button type="button" class="btn btn-danger" id="BtndisablePublisher" onClick="DGSService(2, 0)">Stop</button>
        
            </div>
        </div>
     
    </div>
  </div>
</div>
    <!---->

    <!-- publisher Queu -->
<div class="container card border-primary mb-3" style="max-width: 108rem;">
  <!-- Content here -->
    <h5 class="card-title">Line Publisher Queue</h5>

    <br/>
    <div class="row">
    <div class="col-sm">
    <div class="card border-primary mb-lg-auto" >
      <div class="card-header">Line Publisher Queue</div>
        <div class="card-body text-primary">
      
    
           
            <button type="button" class="btn btn-success" id="btnRefreshPublisher" onClick="GetIdList()">Get Game List</button>

<span id="lblNoGames">No Games in Queue</span>
    
        </div>
        <table id="GameSummary" class="table_Result" width="90%" >
        </table>
 <table id="GameSummary2" class="table_Result" width="90%" >
    </table>
    </div>
   
    </div>


  </div>
</div>
