﻿<script src="../../Scripts/RequestLimitIncrease.js?v=2.6"></script>
<h3>Limit Increase Requests</h3>

<input type="hidden" id="cleck" value='@Session["clerk"]'/>
<table>
    <tr>
        <th>Date from:<input type="text" id="datepickerStart"/></th>
        <th>Date to:<input type="text" id="datepickerEnd"/></th>
        <th>Status <select id="status">
                       <option value="">-All-</option>
                       <option value="P">Pending</option>
                       <option value="I">In Progress</option>
                       <option value="A">Approved</option>
                       <option value="D">Declined </option>
                   </select>
        </th>
        <th>CustomerId:<input type="text" id="customerId"/></th>
        <th><input name="submit" type="submit" id="btn-submit" value="SEARCH" class="green submit" style="float:right;margin:5px; width:82px;"></th>
    </tr>
</table>
<table id="tbl-result" class="table_Result" ></table>