﻿
@{
    ViewBag.Title = "Server List";
}





@section JavaScript
{
    <script type="text/javascript"src="@Url.Content("/Scripts/support.js?v=00013")"></script>
    
    
    


}
@section css {
    <link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet"/>

 


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 <link href="@Url.Content("~/Content/bootstrap3.3.5.min.css?v=2")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}




<h2>Get All Server List</h2>
Service name<input type="text" id="txtServiceid" value="7"/>
<input id="btnSubmit" type="button" value="Refresh" onClick="getDataLog()"/><br/>
<div id="div_Summary">
    <table id="LogSummary" class="table table-bordered table-responsive table-striped"  >
    </table>
</div>

<div class="container" id="AddNew">
        <div class="row">
    <form >
        <div class="form-row">
            <div class="form-group col-lg-4">
                <label for="inputIIS">IIS Name</label>
                <input type="text" class="form-control" id="inputIIS" placeholder="iis name">
            </div>
<div class="form-group col-lg-4">
                <label for="inputPrimary">Primary Server </label>
                <input type="text" class="form-control" id="inputPrimary" placeholder="VM-serverc01">
            </div>
            <div class="form-group col-lg-4">
                <label for="inputUrl">URL</label>
                <input type="text" class="form-control" id="inputUrl" placeholder="api.backup.com">
            </div>
</div>
<div class="form-row">
            <div class="form-group col-lg-4">
                <label for="inputPrivateIP">Private IP</label>
                <input type="text" class="form-control" id="inputPrivateIP" placeholder="192.168.100.58">
            </div>
    <div class="form-group col-lg-4">
        <label for="inputPublicIP">Public IP</label>
        <input type="text" class="form-control" id="inputPublicIP" placeholder="168.178.124.122">
    </div>
 <div class="form-group col-md-2">
                <label for="inputPort">Port</label>
                <input type="text" class="form-control" id="inputPort">
            </div>
        </div>
        <div class="form-group">
            <label for="inputFFR">Firewall Rules</label>
            <input type="text" class="form-control" id="inputFFR" >
        </div>
        <div class="form-group">
            <label for="inputNotes">Notes</label>
            <input type="text" class="form-control" id="inputNotes" placeholder="Api--">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputSBackup">Server Backup</label>
                <input type="text" class="form-control" id="inputSBackup">
            </div>
            <div class="form-group col-md-4">
                <label for="inputBackupIP">Public IP</label>
               <input type="text" class="form-control" id="inputBackupIP">
            </div>
           
        </div>
  
        <button type="submit" class="btn btn-primary" onclick="AddServer()" >Sign in</button>
    </form>
</div>
</div>