﻿<script src="~/Scripts/GOBet.js"></script>
<center>
    <h2>Get Out Customer Bet</h2>

    CustomerID: <input type="text" id="txt-agentid" value="">
    <input type="submit" id="btn-submit" value="Search">

    <div id="Result"></div>
    <div id="Result2"></div>

</center>


<style>
    #Result {
        margin: 27px;
        border: 1px solid #31b341;
        width: 307px;
        padding: 10px;
        display: none;
        font-size: 14px;
    }
.btnCancel {
        margin: 10px;
    background: #c16c6c;
    color: #fff;
    cursor: pointer;
} .btnCancel:hover{
         background: #ec1f1f;
 }
</style>