﻿<script src="~/Scripts/FreeBets.js?v=4"></script>
<h3>Search And Edit Free Bets</h3>
<table id="tb-form-index"> 
    <tbody><tr class="tr-title">
               <th>
                   <span>Customer:</span>
                   <input type="text" id="CustomerId" size="12" name="CustomerId" value="">
               </th>
               <th>
                   <input name="submit" type="submit" id="btn-submit" value="SEARCH" class="green submit" style="float:right;margin:5px; width:82px;">
               </th>
           </tr>
    </tbody></table>
<br/><br/>
<input name="submit" type="submit" value="UPDATE" class="green submit btn-update" style="margin:5px; width:82px;display:none">
<table id="tbl-result" class="table_Result" ></table>

<div id="changeMessage" class="saveMessage">The Freebet was change successfully.</div>
<div id="errorMessage" class="errorMessage">An error has occurred.</div>
<hr style="border-color: #c6c6c6; height: 1px;"/>
<h3>Add New Free Bets</h3>
<table> 
    <tbody>
        <tr class="tr-title">
            <th>          
                <span>Customer:</span>
                <input type="text" id="Add_CustomerId" size="12" name="CustomerId" value="">            
            </th>
            <th>   
                <span>Freebet:</span>
                <select class="Add_FreebetID"><option value="--">--Select a FreeBet--</option></select>  
            </th>
            <th> 
                <span>Amount:$</span>
                <input type="text" id="Add_Amount" class="numeric" size="12" name="Add_Aount" value="">     
            </th>
            <th> 
                <span>Expiration Date:</span>
                <input type="text" id="Add_DAte"  size="12" name="Add_Aount" value="">     
            </th>
            <th>
                <input name="submit" type="submit" id="btn-submit-add" value="ADD" class="green submit" style="float:right;margin:5px; width:82px;">
            </th>
        </tr>
    </tbody>
</table>

<div id="saveMessage" class="saveMessage">The Freebet was saved successfully.</div>
<div id="errorAddMessage" class="errorMessage">An error has occurred.</div>