﻿<script src="~/Scripts/WagerWebLTVReport.js"></script>

<h2>Head Count</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="WagerWeb">
Customer ID: <input type="text" id="txb-customerdi" value="">
<input type="submit" id="btn-submit">

<br><br>
Total: <span id="span-totalPlayers">0</span> players
<br><br>

<table id="tbl-result" class="table_Result" >
</table>