﻿



<script src="~/Scripts/sportType.js?v=4"></script>
<link href="~/Content/sportType.css" rel="stylesheet" />

<h2>Sport Type Maintenance</h2>

<div class="clear top-space">

    <table>
        <tr><td style="white-space: nowrap">Copy limits from:</td><td colspan="2"><select id="ddlSportSubType"></select></td></tr>
        <tr><td style="white-space: nowrap">New sport:</td><td colspan="2">
            <input type="text" id="txbNewSport" list="li-sportType" placeholder="Sport Type" maxlength="20" />
            <datalist id="li-sportType">
            </datalist>
        </td></tr>
        <tr><td style="white-space: nowrap">New league:</td><td colspan="2">
            <input id="txbSportSubType" type="text" placeholder="Sport Sub Type" maxlength="30" />
        </td></tr>
        <tr><td style="white-space: nowrap">Period:</td><td colspan="2">
            <select id="ddlPeriodType" >
                <option>Game Only</option>
                <option>Halves and Quarters</option>
                <option>Halves Only</option>
                <option>Innings</option>
                <option>Periods (3)</option>
                <option>Sets</option>
            </select></td></tr>
        <tr><td style="white-space: nowrap">Draw line:
            </td><td >
                <input id="chkboxDraw" type="checkbox" style="float:left;" /></td><td style="text-align:right;">
                <input id="btnSaveAddSport" type="button" value="Save" />
        </td></tr>
    </table>

</div>

<hr />

<div class="clear top-space">
    <div id="panel-sportType" class="panel">
    <h3>Production</h3>
        <ul id="list-sportType" class="sportTypeSortable">
            <li class="ui-state-default">A</li>
            <li class="ui-state-default ui-state-disabled">B</li>
            <li class="ui-state-default">C</li>
            <li class="ui-state-default">D</li>
        </ul>
    </div>

    <div id="arrows-green-gray">
    </div>

    <div id="panel-backup" class="panel">
    <h3>Removed ( backup )</h3>
        <ul id="list-backup" class="sportTypeSortable">
            <li>E</li>
            <li>F</li>
            <li>G</li>
            <li>H</li>
        </ul>
    </div>
</div>

<div id="trash" class="sportTypeSortable">
</div>