﻿@{
    ViewBag.Title = "Pick The Pross";
}

<html >

    <head>
        <meta charset="utf-8">

        <title>API Datos</title>
        <meta name="description" content="">
       <meta name="viewport"  content="width=device-width">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
               <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">



<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    </head>

<body ng-app="datosApp">
<div ng-controller="controladorDatos" class ="container text-center">


 <div class="container"> 
   <div class="card-deck">
  <div class="card">
   
    <div class="card-body">
      <h5 class="card-title">Get Games By Week</h5>
      <p class="card-text">Select The week you desired</p>
      <p class="card-text"><select ng-model="Week" ng-options="x for x in Week">{{Week}}</select></p>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
  
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
  </div>

   <script>


        var misDatos =angular.module('datosApp',[]);

            misDatos.controller('controladorDatos', function ($scope, $http)
            {
                $scope.Week = ["week 1", "week 2", "week 3", "week 4", "week 5", "week 6", "week 7", "week 8", "week 9", "week 10", "week 11", "week 12", "week 13", "week 14", "week 15", "week 16", "week 17"];
            })



        </script>

</div>
</body>
