﻿@{
    ViewBag.Title = "March Madness";
}

@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/March.js?v=00002")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}


<h2>All Games</h2> 1) Get All Teams
<input type="radio" name="TType2" value="1" checked id="1"> Heritage 
<input type="radio" name="TType2" value="3" id="3"> Wagerweb<br>
<input id="btnSubmit" type="button" value="Submit" onClick="GetAllTeams()"/>
                                                                                                                              <hr/>

                                                                                                                              <hr/>


@{
    ViewBag.Title = "MarchController";
}

<h2>MarchController</h2>


<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>