﻿@{
    ViewBag.Title = "Index";
}

<h2>Regraded Games By Customer</h2>

<script type="text/javascript" src="Scripts/RegradedGamesByCust.js"></script>

<div class="clear top-space">
    <input type="text" id="customerId" placeholder="Customer ID"/>
    <input type="text" id="datepickerStart" placeholder="Start Date"/>
    <input type="text" id="datepickerEnd" placeholder="End Date"/>
    <input id="btnSubmit" type="button" value="Submit" onClick="getRegradedGames()"/>
</div>

<div id="div_Result">
    <!--
    <div class="clear">
        <table id="RegradedGames" class="table_Result" style="width:500px" >
        </table>
    </div>
    <div>
        <table id="RegradedTickets" class="table_Result" style="width:500px" >
        </table>
    </div>
    -->
</div>


