﻿<script src="~/Scripts/mappingSports.js?v=2"></script>

<style>
    input[type=radio] {
        margin-left:10px;
    }

    td.action {
        width:70px;
    }

    #tbl-result td:first-child, #tbl-result th:first-child {
        display:none;
    }

    #hide_select, .save_mapping, .boxclose {
        display:none;
    }

    .boxclose{
        float:right;
        margin-top: 2px;
        margin-left: 5px;
        cursor:pointer;
        color: #fff;
        border: 1px solid #AEAEAE;
        border-radius: 30px;
        background: #605F61;
        font-size: 14px;
        font-weight: bold;
        line-height: 0px;
        padding: 6px 3px 8px;
    }

    .boxclose:before {
        content: "×";
    }

</style>

<h2>ASI to DGS league mapping</h2>

Show:
    <input type="radio" name="show_mapping" value="1" checked="checked">All
    <input type="radio" name="show_mapping" value="0" >Not mapped
    | Filter: <input type="text" id="txt_lookup"><input type="button" id="btn_lookup" value="lookup">

<div id="hide_select">
<select class="selLeagues"></select>
<select class="selGameTypes"></select>
<select class="selIdSport"></select>
</div>

<table id="tbl-result" class="table_Result" >
</table>