﻿@{
    ViewBag.Title = "Mobile Feedback";
}
<h2>@ViewBag.Title</h2>
<link href="~/Content/feedback.css" rel="stylesheet" />
<script type="text/javascript" src="/Scripts/feedback.js?v=1"></script>
<span>Date from:</span><input type="text" id="datepickerStart"/>
<span>Date to:</span><input type="text" id="datepickerEnd"/>
<input id="btnSubmit" type="button" value="Update"/>
<div id="div_Result">
    <table id="feedback" class="table_Result isLink float-left">
    </table>
</div>
