﻿@{
    ViewBag.Title = "Nsoft- Virtual games- ";
}

<h2>Virtual games</h2>
@section JavaScript
{
  <script type="text/javascript"src="@Url.Content("../Scripts/moment.js?v=00005")"></script>
  <script type="text/javascript"src="@Url.Content("../Scripts/LiveDealer.js?v=00005")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    .table_Result tr th, .table_Result tr td, .table_Resultgraph tr td {
        border: initial;
    }
    .show-bets {
        cursor:pointer;
        text-decoration: underline;
        font-size: small;
    }

    h2 {
        color: #f1f1f1 !important;
    }

    select, .ui-datepicker-trigger {
        margin-left: 5px;
    }

    tr.tr-bets td {
        text-align: center;
        vertical-align:middle;
    }

    .tbl-bets {
        width:100%;
    }

</style>

<div class="clear top-space">
    From: <input type="text" id="datepickerStart" placeholder="Start Date"/>
    To: <input type="text" id="datepickerEnd" placeholder="End Date"/> 
    Customer Id: <input type="text" id="txtCustomerid" placeholder="Customer Id"/>

    <input id="btnSubmit" class="btn btn-primary" type="button" value="Submit" onClick="SevenAdmin()"/>
        
</div>

 <br/>

*No more of 10 days.

<div id="div_Summary">
    <table id="AccumulatedSummary" class="table tablesorter" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result tablesorter" width="90%" >
    </table>
</div>