﻿@{
    ViewBag.Title = "Nsoft- Virtual games- ";
}


@section JavaScript
{
  <script type="text/javascript"src="@Url.Content("../Scripts/moment.js?v=00005")"></script>
  <script type="text/javascript"src="@Url.Content("../Scripts/LiveDealer.js?v=00005")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    .table_Result tr th, .table_Result tr td, .table_Resultgraph tr td {
        border: initial;
    }
    .show-bets {
        cursor:pointer;
        text-decoration: underline;
        font-size: small;
    }

    h2 {
        color: #f1f1f1 !important;
    }

    select, .ui-datepicker-trigger {
        margin-left: 5px;
    }

    tr.tr-bets td {
        text-align: center;
        vertical-align:middle;
    }

    .tbl-bets {
        width:100%;
    }

</style>
<div class="container">
<div class="card text-center">
    <div class="card-header">
        Non Posted Transactions
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card-body">
                <h5 class="card-title">Company:</h5>
                <p><input type="text" id="txtCompany" placeholder="Company" value="Heritage"/></p>
          
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-body">
                <h5 class="card-title">Customer ID:</h5>
                <p><input type="text" id="txtCustomerid" placeholder="Customerid" /></p>optional
        
            </div>
  
        </div>
        <div class="col-sm-4">
            <div class="card-body">
                <h5 class="card-title">Provider:</h5>
                <p><input type="text" id="txtProvider" placeholder="Provider" /> </p>optional
         
            </div>
  
        </div>
    
    </div>
    <div class="row">
        
<div class="col-sm-12">
  <button class="btn btn-primary" type="button"  onClick="SevenNonPosted()">Get Data</button>

</div>
     
    </div>
</div>



 <br/>



<div id="div_Summary">
    <table id="AccumulatedSummary" class="table tablesorter" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result tablesorter" width="90%" >
    </table>
</div>
</div>