﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.7.1.min.js?v=00006")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/date.format.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/HS_script.js?v=214")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/chosen.jquery.min.js?v=12")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tablesorter.min.js?v=02")"></script>


    <link href="~/Content/Site.css?v=5.0" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
    <link href="~/Content/tablesorter/style.css?v=1" rel="stylesheet" />


@RenderSection("JavaScript", required: false)
@RenderSection("css", false)
</head>
<body>

    @RenderBody()
    
    <div id="fade"></div>
<img id="img-loader" src="../Content/Images/ajax-loader.gif" alt="Loading"/>
</body>
</html>