﻿@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/AdminCreditCard.js?v=1"></script>
<center>
    <h2>Delete Credit Cards </h2>
    <div id="Content">
        <table id="tb-form-index"> 
            <tbody><tr class="tr-title">
                       <th>
                           <span>Customer:</span>
                           <input type="text" id="CustomerId" size="12" name="CustomerId" value="">
                       </th>

                       <th>
                           <input name="submit" type="submit" id="btn-submit" value="SEARCH" class="green submit" style="float:right;margin:5px; width:82px;">
                       </th>
                   </tr>
            </tbody></table>
       
        <div id="DBConfirm">
            <br/>
            <button type="button" class="red submit" id="btn-delete">Do you want to delete this credit card? Yes.</button>
            <button type="button" class="red submit" id="btn-cancel">Cancel</button>
            <br/><br/>
        </div>

        <table id="tbl-result">
        
        </table>

    </div>
</center>

<style>
    #DBConfirm {
        display :none;
    }
     .tr-title
            {
                text-align: center !important;
                background-image: url(~/Content/Images/title.png) !important;
                color:white !important;
                border: 1px solid #fb9b24 !important;
            }
     input[type="submit"],
     input[type="button"],
     button {
         background-color: #d3dce0;
         border: 1px solid #787878;
         cursor: pointer;
         font-size: 1.2em;
         font-weight: 600;
         margin-right: 8px;
         width: auto;
     }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }
    #tbl-result 
    {
        border: 1px solid #000000;
    }
    #tbl-result tr:nth-child(even)
    {
        background-color:#FFFFFF !important;
    }

    #tbl-result  tr:nth-child(odd)
    {
        background-color:#F7F6F3 !important;
    }

    #tbl-result  th {
        background-color:#5D7B9D !important;
        color:#ffffff !important;
    }
    #tbl-result td {
        padding-left: 20px;
        padding-right: 20px;
    }
</style>