﻿<script src="~/Scripts/newGraderTest.js?v=456"></script>

<h2>Grader Page</h2>

Sport:<select id="selSportTypeList"><option value="">* All *</option></select>
League: <select id="selSportSubTypeList"></select>


<input type="submit" id="btn-submit" value="Get Open Games">
<input type="submit" id="btn-submit2" value="Get Grader Games">  From:<select id="days"><option value="0">Today</option><option value="1">1 day ago</option><option value="2">2 days ago</option><option value="3">3 days ago</option><option value="4">4 days ago</option><option value="5">5 days ago</option><option value="6">6 days ago</option><option value="7">7 days ago</option></select>

<br>
<div class="grader-box">
    <div class="info-box">
        <span class="_sub-sport">Sub-Sport</span> | <span class="_-sport">Sport</span>
        <br/><span class="_dateGameTime">mm/dd/yyyy</span>
        <br/>Game # <span class="GameNum-selected">1234567890</span>
        <br/><br/>Period: <select id="period"></select>
        <br/><br/>
        <table style="border: 1px solid #c6c6c6;width: 274px;">
            <tr><td colspan="4">Scores</td></tr>
            <tr><td></td><td></td><td>Eop</td><td colspan="3">pts</td></tr>
            <tr><td class="teamRot1">000</td><td class="teamName1">test1</td><td><input type="text" size="4" class="team1ScoreEop"/></td><td><input type="text" data-pts="0" readonly="readonly" size="4" class="team1ScorePts"/></td></tr>
            <tr><td class="teamRot2">000</td><td class="teamName2">test2</td><td><input type="text" size="4" class="team2ScoreEop"/></td><td><input type="text" data-pts="0" readonly="readonly" size="4" class="team2ScorePts"/></td></tr>
        </table>
        
        <input type="checkbox" class="_cancelGame"/> Cancel Game
        <br/><br/>
        <span>Comments</span>
        <br/>
        <textarea class="_comments" placeholder="[Comment]"></textarea>
    </div>

    <div class="info-box2">
        <table style="border: 1px solid #c6c6c6;width: 220px;">
            <tr style="background: rgba(100, 149, 237, 0.32);">
                <td>Pitcher</td><td>Started</td>
            </tr>
            <tr style="background: rgba(198, 198, 198, 0.21);">
                <td class="_pitcherName1">Pitcher1</td><td><input type="checkbox" class="_pitcher1"/></td>
            </tr>
            <tr>
                <td class="_pitcherName2">Pitcher2</td><td><input type="checkbox" class="_pitcher2"/></td>
            </tr>
        </table>
        <br/>
        <table style="border: 1px solid #c6c6c6;width: 220px;">
            <tr>
                <td colspan="2">No Action</td><td></td><td colspan="2">Grade</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="_cancelSpread"/>Spread</td><td></td><td></td> <td><input type="checkbox" checked="checked" class="_gradeSpread"/>Spread</td><td></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="_cancelMoneyLine"/>Money Line</td><td></td><td></td> <td><input type="checkbox" checked="checked" class="_gradeMoneyLine"/>Money Line</td><td></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="_cancelTtlPts"/>Total Points</td><td></td><td></td><td><input type="checkbox" checked="checked" class="_gradeTtlPts"/>Total Points</td><td></td>
            </tr>
        </table>
        <br/> <br/>
        <table>
            <tr><td>Daily Figure Date</td></tr>
            <tr><td><input type="text" id="datepickerStart"/></td></tr>
        </table>
        <br/> <br/><input type="button" value="OK" id="GradingMain"/>
    </div>





    <br/><br/>
</div>

<table id="final-result"></table>
<a class="hideTable">Show/Hide ticket results</a>
<table id="final-result2" class="table_Result" >
</table>
<br>
Total: <span id="span-totalPlayers">0</span> Games
<br><br>

<table id="tbl-result" class="table_Result" >
</table>




<style>
    .GameNum {
        color: blue;
    text-decoration: underline;
    cursor: pointer;
    }
    .grader-box {
    border: solid 1px #0008ff;
    margin: 10px;
    padding: 10px;
    width: 532px;
    height: 330px;
    }
.info-box{
    width: 250px;
    float:left
}
.info-box2{
    width: 250px;
    float:right
}
._comments {
        width: 220px;
}
#GradingMain {
        width: 60px;
    margin-left: 77px;
    margin-top: -6px;
}
#datepickerStart {
    width: 100px;
}
#final-result {
        border: solid 1px red;
    padding: 10px;
    width: 522px;
    text-align: center;
    margin: 10px;
}
#final-result2 {
        border: solid 1px darkgreen;
    padding: 10px;
    width: 522px;
    text-align: center;
    margin: 10px;
    display: block;
}
.hideTable {
    display: none;
    cursor: pointer;
    color: blue;
}

.team1ScorePts,.team2ScorePts{background-color: #e2e2e2;
    color: #989797;}
</style>