﻿<script src="~/Scripts/WW_WLReport.js?V=6"></script>

<h2>W/L Report</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="WagerWeb">
<input type="submit" id="btn-submit">
<br><br>
<input type="checkbox" id="WL_show_details">Show all adjustment details

<br><br>
<table >
    <tbody>
        <tr>
            <td valign="top"><table id="tbl-result" class="table_Result"></table></td>
            <td valign="top"><table id="tbl-result-details" class="table_Result" style="width: 1040px"></table></td>
        </tr>
    </tbody>
</table>