﻿<script src="~/Scripts/ww_comissionDetails.js"></script>

<style>

    #tbl-summary {
        border-collapse: collapse;
        margin: 10px 0 10px 0;
        width: 300px;
    }

    #tbl-summary td, #tbl-summary th {
        border-collapse: collapse;
        border: 1px solid gray;
    }

    #tbl-summary tr:nth-last-child(1) {
        background-color:#aad1ed;
    }

</style>

<h2>WW AF Fees Details</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="WagerWeb">
<input type="submit" id="btn-submit">

<table id="tbl-summary">
    <thead>
        <tr>
            <th>Type</th>
            <th>Fee</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bonus Credit</td>
            <td id="B">0.00</td>
        </tr>
        <tr>
            <td>Bonus Debit</td>
            <td id="N">0.00</td>
        </tr>
        <tr>
            <td>Credit Adjustments</td>
            <td id="C">0.00</td>
        </tr>
        <tr>
            <td>Debit Adjustments</td>
            <td id="D">0.00</td>
        </tr>
        <tr>
            <td>Deposit</td>
            <td id="E">0.00</td>
        </tr>
        <tr>
            <td>Fees Credit</td>
            <td id="F">0.00</td>
        </tr>
        <tr>
            <td>Withdrawal</td>
            <td id="I">0.00</td>
        </tr>
        <tr>
            <td>Total</td>
            <td id="Total">0.00</td>
        </tr>

    </tbody>
</table>

<table id="tbl-result" class="table_Result" >
</table>