﻿
@section JavaScript
{

    <script type="text/javascript"src="@Url.Content("~/Scripts/moment290.js?v=00005")"></script>
    <script type="text/javascript"src="@Url.Content("~/Scripts/bootstrap335.min.js?v=00005")"></script>
    <script type="text/javascript"src="@Url.Content("/Scripts/AccumWagerLimitByLine.js?v=00005")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="@Url.Content("~/Content/bootstrap3.3.5.min.css?v=2")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<h2>Accum Wager Limit By Line Multiplier</h2>


<div class="container">

    <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group date">
                        <input type="text" id="Customer" class="form-control" placeholder="Customer Id" value=""><span class="input-group-addon"><span class="fas fa-user"></span></span>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group date">
                        <input type="text" id="LineMultiplier" class="form-control" placeholder="Limit By Line Multiplier" value="">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group date">
                        <input type="submit" id="btn-saveLineMultiplier" class="btn btn-success btn-block" value="Save">
                    </div>
                </div>
            </div>
    </div>
          
    <div class="row">
            <div class="col-sm-12"><input type="submit" id="btn-submit" class="btn btn-primary btn-block"></div>    
    </div>

</div>
 

<br><br>
Total: <span id="span-totalPlayers">0</span> row
<br><br>



