﻿@{
    ViewBag.Title = "CustomerInfo";
}

<h2>Customer Info</h2>

@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/RegalSignup.js?v=00002")"></script>
 <script type="text/javascript"src="@Url.Content("/Scripts/Poker.js?v=00002")"></script>
}
@section css {
    <link href="@Url.Content("~/Content/regalSignup.css?v=3")" rel="stylesheet"/>
}

<div class="clear top-space">

    <table>
        <tr>
            <td>Search By Customer Id</td>
 <td>Search By Username</td>
        </tr>
        <tr>
            <td>
                <input type="text" id="customerid" placeholder="customerid"/>
                <br/><br/>
    

                <input id="btnSubmit" type="button" value="Submit" onClick="getCustomerinfo(); getCustomerInfobyCID();"/>
                <hr/>


            </td>
            <td><input type="text" id="Username" placeholder="Username"/>
                <br/><br/>

                <input id="btnSubmit" type="button" value="Submit" onClick="getCustomerInfobyScreen()"/>
                <hr/>
            </td>
        </tr>
    </table>
</div>

<div class="clear top-space">



    
</div>
<div id="div_Summary">
    
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>


</div>

<div id="div_Summary">
    <form name="Test" method="post" >
        <table id="TransferSummary" class="table_Result" width="90%">
        </table>
    <div id="updCus" style="display: none">
   <input  type="button" value="Update Customer" id="updateCustomer1" onClick="updateCustomer('+ customerid +')" />
    </div>
 </form>
</div>