﻿@using HSIntranetV2.Models
@{
    ViewBag.Title = "Index";
}
<h2>Signup Request</h2>

@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/RegalSignup.js?v=00003")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/regalSignup.css?v=30")" rel="stylesheet"/>
}
<div class="clear top-space">

    <input type="text" id="datepickerStart" placeholder="Start Date"/>
    <input type="text" id="datepickerEnd" placeholder="End Date"/>
    <br/><br/>
    Reference Id<br/>
    <input type="text" id="RequestId" name ="RequestId"/>
</div>
<br/><br/>
 <input id="btnSubmit" type="button" value="Submit" onClick="getSignup()"/>

<span id="span-msg"></span>

<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
    <table id="TransferSummary" class="table_Result" width="90%">
    </table>
    <table id="CustomerSummary" class="table_Result" width="90%">
    </table>
    <div id="updCus" style="display: none">
        <input  type="button" value="Update Customer" id="updateCustomer1" onClick="updateCustomer('+ customerid +')" />
    </div>
<div id="updCus" style="display: none">
        <input  type="button" value="Resend Email" id="ResendEmail" onClick="ResendEmail('+ customerid +')" />
    </div>
</div>

