﻿@{
    ViewBag.Title = "Transactions";
}

<h2>Transactions By Date</h2>
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/RegalSignup.js?v=00002")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}
<div class="clear top-space">

    <input type="text" id="datepickerStart" placeholder="Start Date"/>
    <input type="text" id="datepickerEnd" placeholder="End Date"/>
    <input type="text" id="customerid" placeholder="customerid"/>
<br/><br/>
    
</div>
 <input id="btnSubmit" type="button" value="Submit" onClick="getTransactions()"/>
<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>