﻿<script src="~/Scripts/WWcustMaintenance.js"></script>
<link href="~/Content/WWcustMaintenance.css" rel="stylesheet" />

<h2>WagerWeb Customer Maintenance</h2>

<table cellspacing="10">
    <tr>
        <td>
            <span class="span-special">Choose customer:</span>
        </td><td>
            <select id="selectCust" class="chosen-select"><option value="">Select Customer</option></select>
        </td>
    </tr>

    <tr>
        <td>
            Quick limit:
        </td>
        <td>
            <input type="text" id="txb-quicklimit" class="numeric">
            <input type="submit" id="btn-save" value="Save" /> 
        </td>
    </tr>

    <tr>
        <td></td>        
        <td>
            0 = Store limit applies
        </td>

    </tr>

    <tr>
        <td colspan="2">
            <div id="saveMessage-info" class="saveMessage">Update was done successfully.</div>
            <div id="errorMessage-info" class="errorMessage">An error has occurred.</div>
        </td>
    </tr>

</table>