﻿<script type="text/javascript" src="Scripts/ASI_Import.js?v=4"></script>

<h2>ASI Import</h2>

<input type="text" id="datepickerStart"/>
Master Agent: <input type="text" id="txt-agent" value="HERITAGE"/>
<input id="btnSubmit" type="button" value="Submit" onClick="getASI_Import(document.getElementById('datepickerStart').value)"/>
<br><br>
<div style="float:left;width:200px;">
<input id="radioFull" type="radio" checked="checked" name="view" value="0" />Full view
<input id="radioCategory" type="radio"  name="view" value="1" />By Category
</div><div style="float:left;width:250px;">
|
<input type="checkbox" id="chkMakeBackup">Create backup (check before submit)
</div>
<div id="getInfoToExcel" ></div>

<div class="clear"></div>

<div id="div_Result">
    <table id="ASI_Import" class="table_Result isLink float-left" style="width:460px" >
    </table>
    <table id="Sports_revenue" class="table_Result isLink float-left" style="width:460px;display:none;" >
    </table>    
    <table id="Horses_revenue" class="table_Result isLink float-left" style="width:460px;display:none;" >
    </table>
    <table id="Casino_revenue" class="table_Result isLink float-left" style="width:460px;display:none;" >
    </table>
</div>

<div id="div_Details">
    <div id="closeBtn"></div>
    <div id="innerDiv">
        <h2 id="detail-title"></h2>
        <table id="ASI_Details" class="table_Result" >
        </table>
    </div>
</div>
