﻿@{
    ViewBag.Title = "Analysis Deposit And Bonus Report";
}

<h2>Analysis Deposit And Bonus</h2> 1) Get Deposit And Bonus Information
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/Depositbonus.js?v=00005")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<div class="clear top-space">
    From: <br>
          <input type="text" id="datepickerStart" placeholder="Start Date"/>
          To: <input type="text" id="datepickerEnd" placeholder="End Date"/>
          <br/><br/>
          Customer Id:
                      <input type="text" id="txtCustomerid" placeholder="Customer Id"/>
                @*      <br/><br/>
                          Utilization Percentage<br/>
                          <input type="text" id="initPercentage" placeholder="initPercentage" value="80"/>%
          To: <input type="text" id="endPercentage" placeholder="endPercentage" value="110"/> %*@

                      </div>

<div class="clear top-space">
    Profile: <br>
    <input id="All" type="radio" name="TType" value="0" checked="checked" />All
    <input id="-105" type="radio" name="TType" value="1" />-105
    <input id="-108" type="radio" name="TType" value="2" />-108
    <input id="-110" type="radio" name="TType" value="3" />-110
    <br /><br />
    Bussines Unit: <br>
    <input id="Heritage" type="radio" name="BType" value="0" checked="checked" />Heritage
    <input id="Wagerweb" type="radio" name="BType" value="1" />Wagerweb
    <input id="bet105" type="radio" name="BType" value="2" />Bet105
    <input id="Betregal" type="radio" name="BType" value="3" />BetRegal


    <br /><br />
    Store: <br>
    <input id="All" type="radio" name="WType" value="0" checked="checked" />All
    <input id="Heritage" type="radio" name="WType" value="1" />Heritage
    <input id="RegLo" type="radio" name="WType" value="2" />RegLo
    <input id="TRANS" type="radio" name="WType" value="3" />Trans
    <input id="WATCH" type="radio" name="WType" value="4" />Watch

</div>
 <br/><br/>
<input id="btnSubmit" type="button" value="Submit" onClick="getAnalysisData()"/><br/>*
Based on the Date Range or the amount of information the report may take some time to upload.
<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result tablesorter" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result tablesorter" width="90%" >
    </table>
</div>