﻿@{
    ViewBag.Title = "Deposit And Bonus Report";
}

<h2>Deposit And Bonus</h2> 1) Get Deposit And Bonus Information
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/Depositbonus.js?v=00003")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<div class="clear top-space">
    From: <br>
          <input type="text" id="datepickerStart" placeholder="Start Date"/>
          To: <input type="text" id="datepickerEnd" placeholder="End Date"/>
          <br/><br/>
          Customer Id:<br>
                      <input type="text" id="txtCustomerid" placeholder="Customer Id"/>
                      <br/><br/>
                          Utilization Percentage<br/>
                          <input type="text" id="initPercentage" placeholder="initPercentage" value="80"/>%
          To: <input type="text" id="endPercentage" placeholder="endPercentage" value="110"/> %

                      </div>
<br/><br/>

Profile: <br>
    <input id="-105" type="radio"  name="TType" value="0" />-105
                          <input id="-108" type="radio"  name="TType" value="1" />-108
                          <input id="-110" type="radio" checked="checked" name="TType" value="2" />-110
    
</div>
 <br/><br/>
<input id="btnSubmit" type="button" value="Submit" onClick="getData()"/><br/>*
Based on the Date Range or the amount of information the report may take some time to upload.
<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>