﻿.isLink {
    cursor: pointer;
}

.isLink:hover {
    background-color:#6eb1e2;
}

.table_Result {
    width:400px;
}

#tbl-TotalDeposit , #tbl-TotalWithdrawal {
    display:none;
}

#tbl-TotalDeposit td, #tbl-TotalWithdrawal td {
    text-align:center;
}