﻿
.isLink tr:not(:first-child) {
    cursor:auto !important;
}



div.stars{
	float: left;
	background: url('Images/rating_stars.png') no-repeat;
	width: 150px;
	height: 38px;
	margin: 6px 0px 0px 0px;
}

div.stars.rate_five{
	background-position:0px 0px;
}

div.stars.rate_one{
	background-position:0px -128px;
}

div.stars.rate_two{
	background-position:0px -96px;
}

div.stars.rate_three{
	background-position:0px -64px;
}

div.stars.rate_four{
	background-position:0px -33px;
}
div.customer_id {
    width: 50px;
    height: 14px;
    background: url('images/person_icon.png') no-repeat;
    font-size: 12px;
    padding-top: 32px;
    font-weight: bold;
    float: left;
    background-position-x: 9px;
    text-align: center;
}
.displayNone {
    display: none;
}