﻿#main-conteiner-report {
    width: 450px;
}
.conteiner-report {
    height: 500px;
    border : solid 1px #708090;
    background: rgb(247,247,247);
    padding: 10px;
}

.menu-deposit p , .menu-info p {
    margin-top: 4px;
}

#info-report, #deposit-report {
    padding: 0px;
}

.deposit-report {
    display: none
}

.drop-down {
    width: 230px;
    position: relative;
    margin-left: auto;
    margin-right: auto
}

.table-info {
    text-align: left
}

#password {
    padding: 1px 0;
}

textarea {
    border-radius: 4px;
}

input[type="text"] {
    width:150px;
}

.radioType {
    font-size: 0.85em;
}
.saveMessage {
    margin-right: auto;
    margin-left: auto;
    background: #d3efd8;
    border: #30a248 1px solid;
    border-radius: 4px;
    padding: 5px 0 5px 0;
    width: 275px;
    text-align: center;
    display: none;
}
.errorMessage {
    margin-right: auto;
    margin-left: auto;
    background: #f9d7d7;
    border: #e54141 1px solid;
    border-radius: 4px;
    padding: 5px 0 5px 0;
    width: 275px;
    text-align: center;
    display: none;
}