﻿body {
    font-size: .75em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    position:relative;
}

header, footer, nav, section {
    display: block;
}
     .saveMessage,.changeMessage {

        background: #72d587;
        border: #30a248 1px solid; 
        border-radius: 4px;
        height: 23px;
        display: none;
          width: 287px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
     }
     .errorMessage {

        background: #f9d7d7;
        border: #e54141 1px solid;
        border-radius: 4px;
        height: 24px;
        display: none;
          width: 287px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
     }


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* intranet
-----------------------------------------------------------    */

.table_Result {
    border:1px solid grey;
    border-collapse:collapse;
    margin:10px 10px 0 0;
    text-align: left;
}
.table_Resultgraph {
    border:1px solid grey;
    border-collapse:collapse;
    margin:10px 10px 10px 10px;
    text-align: left;
      padding-right: 15px;
  padding-left: 15px;
}

.isLink tr:not(:first-child) {
    cursor: pointer;
}

.isLink tr:not(:first-child):hover {
    background-color:#6eb1e2;
}

.table_Result tr th, .table_Result tr td,.table_Resultgraph tr td {
    padding:5px;
    border:1px solid grey;
    border-bottom:none;
    border-top:none;
    text-align: left;
}

.table_Resultgraph tr th, .table_Resultgraph tr td {
    padding:15px;
    border:1px solid grey;
    border-bottom:none;
    border-top:none;
    text-align: left;
}

.table_Result tbody tr:nth-child(even), .tr-light
{
    background-color:#FFFFFF;
}

.table_Result tbody tr:nth-child(odd), .tr-dark
{
    background-color:#F7F6F3;
}

.table_Result thead tr, .table_Resultgraph thead tr{
    background-color:#5D7B9D !important;
    color:#ffffff;
    margin-top:15px;
}

.data-monetary-amount {
  color: red;
}
 /* right-align monetary amounts */
    td[data-monetary-amount] {
      text-align: right;
    }

    /* make the cells output their value */
    td[data-monetary-amount]:after {
      content: attr(data-monetary-amount);
    }

    /* make debit amounts show up in red */
    td[data-monetary-amount^="-"]:after {
      color: red;
    }

#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.80;
    filter: alpha(opacity=80);
}

#div_Details {
    display: none;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    padding: 20px 20px 0 0;
    z-index:1002;
    overflow: auto;
}

#innerDiv {
    background-color: white;
    padding: 10px;
    border: 1px solid orange;
    height: 95%;
    overflow: scroll;
}

#closeBtn {
    background: url("Images/closeBtn.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;

}

#img-loader {
    display: none;
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 1002;
}

select, .ui-datepicker-trigger {
    margin-right:10px;
}

.clear {
    clear:both;
    overflow: hidden;
}

.top-space {
    margin-top:10px;
}

.float-left {
    float:left;
}

td b {
    font-size: 1.1em;
}

.align-right {
    text-align: right !important;
}

.buttonlink{
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	width:9em;
	height:2em;
	background:#ccc;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-weight:900;
}
.buttonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}

#div_Search {
    display: none;
}
#div_Add {
    display: none;
}

#selectCust_chosen {
    width: 130px !important;
}

 .tbl-summary {
        border-collapse: collapse;
        margin: 10px 0 10px 0;
        width: 300px;
    }

    .tbl-summary td, #tbl-summary th {
        border-collapse: collapse;
        border: 1px solid gray;
    }

    .tbl-summary tr:nth-last-child(1) {
        background-color:#aad1ed;
    }

.firstRow-total tbody tr:first-child {
    background-color:#FCE87F;
}

.firstRow-totalACC tbody tr:first-child {
    background-color:#FCE87F;
}

.firstRow-totalAGent tbody tr:first-child {
    background-color:#FCE87F;
}

.firstRow-totalACC tbody tr:nth-child(3) {
    background-color:#FCE87F;
}

.firstRow-totalACC tbody tr:nth-child(2) {
    background-color:#FCE87F;
}

.firstRow-totalAGent tbody tr:nth-child(4) {
    background-color: #FCE87F;
}

.firstRow-totalAGent tbody tr:nth-child(3) {
    background-color:#FCE87F;
}

.firstRow-totalAGent tbody tr:nth-child(2) {
    background-color:#FCE87F;
}

#getInfoToExcel,.getInfoToExcel {
    background-image:url("Images/excel.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    margin: 0 5px;
}
.special-tr {
    background-color: #aad1ed !important;
    font-weight: bold
}
.moreDetails {
    cursor: pointer;
}

    .green {
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px #ffffff, inset 0px 0px 2px #84AD47;
  -moz-box-shadow: 0px 0px 3px #ffffff, inset 0px 0px 2px #84AD47;
  box-shadow: 0 0 0 3px #ffffff, inset 0px 0px 2px #84AD47;
  border: 2px solid #9CA0A1;
  background: #9cc365;
  background: -moz-linear-gradient(top, #9cc365 0%, #91b75a 28%, #84aa4e 50%, #4f7b0e 51%, #406906 78%, #3a5f03 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9cc365), color-stop(28%, #91b75a), color-stop(50%, #84aa4e), color-stop(51%, #4f7b0e), color-stop(78%, #406906), color-stop(100%, #3a5f03));
  background: -webkit-linear-gradient(top, #9cc365 0%, #91b75a 28%, #84aa4e 50%, #4f7b0e 51%, #406906 78%, #3a5f03 100%);
  background: -o-linear-gradient(top, #9cc365 0%, #91b75a 28%, #84aa4e 50%, #4f7b0e 51%, #406906 78%, #3a5f03 100%);
  background: -ms-linear-gradient(top, #9cc365 0%, #91b75a 28%, #84aa4e 50%, #4f7b0e 51%, #406906 78%, #3a5f03 100%);
  background: linear-gradient(to bottom, #9cc365 0%, #91b75a 28%, #84aa4e 50%, #4f7b0e 51%, #406906 78%, #3a5f03 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9cc365', endColorstr='#3a5f03', GradientType=0 );
  text-shadow: -1px -1px 0 #999;
  font-size: 14px;
  font-weight: normal;
}
        .red {
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px #ffffff, inset 0px 0px 2px #7a0000;
  -moz-box-shadow: 0px 0px 3px #ffffff, inset 0px 0px 2px #7a0000;
  box-shadow: 0 0 0 3px #ffffff, inset 0px 0px 2px #7a0000;
  border: 2px solid #940000;
  background: #940000;
  background: -moz-linear-gradient(top, #940000 0%, #7a0000 28%, #7a0000 50%, #7a0000 51%, #480000 78%, #480000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a0000), color-stop(28%, #480000), color-stop(50%, #7a0000), color-stop(51%, #7a0000), color-stop(78%, #480000), color-stop(100%, #7a0000));
  background: -webkit-linear-gradient(top, #940000 0%, #7a0000 28%, #7a0000 50%, #7a0000 51%, #480000 78%, #480000 100%);
  background: -o-linear-gradient(top, #940000 0%, #7a0000 28%, #7a0000 50%, #7a0000 51%, #480000 78%, #480000 100%);
  background: -ms-linear-gradient(top, #940000 0%, #7a0000 28%, #7a0000 50%, #7a0000 51%, #480000 78%, #480000 100%);
  background: linear-gradient(to bottom, #940000 0%, #7a0000 28%, #7a0000 50%, #7a0000 51%, #480000 78%, #480000 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7a0000', endColorstr='#480000', GradientType=0 );
  text-shadow: -1px -1px 0 #940000;
  font-size: 14px;
  font-weight: normal;
}
input, textarea {
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #333;
  font-size: 1.2em;
}
input, textarea {
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #333;
  font-size: 1.2em;
}

 @keyframes cssAnimationHide {
        to {
            width: 0;
            height: 0;
            overflow: hidden;
            display:none;
        }
    }