﻿
           #principal table, td, th
            {
                text-align: center !important;
                border-bottom: 1px solid #fb9b24 !important;
                border-right: 1px solid #fb9b24 !important;       
            }
           #principal 
            {
                width: 100%;       
            }
            table {
                border-collapse: collapse !important;
                border-spacing: 1px !important; 
                
            }
            #principal table, tr:nth-child(even) {
                background-color:#cccccc;
            }
            #principal table, tr:nth-child(odd) {
                background-color:#e4f2ff;
            }
            .tr-title
            {
                text-align: center !important;
                background-image: url(/Content/Images/title.png) !important;
                color:white !important;
                border: 1px solid #fb9b24 !important;
            }
            .center-div {
                margin: -40px 0px 0px 145px;
                position: absolute
            }
            .th-teams {
                width: 17%;
            }
            .th-startingPitchers {
                width: 10%;
            }
            .th-sport {
               width: 7%; 
            }
            .th-comments {
                width: 24%;
            }
            #getGames {
                margin: 2px 3px -2px 4px;
                max-width: 69px;
            }
            #GamesView {
                margin-left: 30px;
            }
            #ContestView {
                margin-left: 30px;
                margin-right: 30px;
            }
            .Open {
               background-color:#ffff7f !important;
               font-weight: bold;  
             }
             .Closed {
               background-color:#66b266 !important;
               color:#ffffff;
               font-weight: bold; 
             }
             .diferentScores {
               background-color:#c94444 !important;
               color:#ffffff;
               font-weight: bold; 
             }
             .hr-teams-scores {
               width: 213%;
             }
             .hr-teams{
                width: 150%;
             }
             .th-teams{
                 width: 25%;
             }
             #hidden_gif {
                position: fixed; 
                z-index: 99999; 
                width: 100%;
                height: 112%;
                background-color: #000000;
                opacity: 0.7;
                margin-top: -63px;
                display: none;
            }
            #hidden_gif img {
                position: fixed;
                left:900px;
                top:25%;
                z-index: 999999;
            }
             .details {
                width: 26px;
                margin-right: -5px;
                margin-top: -6px;
            }
            .imgClose {
                float: right;
                width: 26px;
                padding: 3px;
                margin-top: -51px;
            }
            #displaydetails2 {
                margin-top: -47px;
                width: 100%;
                height: 100%;
                display: none;
                position: fixed;
            }
            #displayreport {
               margin-left: auto;
               margin-right: auto;
            }
           
            .alternative{
                
                z-index: 99999;
            }
            #counter {
                float: right;
                font-weight: bold;
                font-size: 26px;
                margin-right: 93px;
                z-index: 9999999999;
            }
            a{font-size: 10px;}

            #tb-form-contest {
                margin-left: 28%
            }
            #link-swicth {
                margin-left: 49%;
            }
            .img_back{
                width: 29px;
                float: right;
                display: none;
                margin-right: 65px;
                cursor: pointer;
            }
            #container {
                width: 80%;
                 height: 400px;
                margin: 4px auto 0px auto;
                display: none;
                background-color: #e2e2e2;
            }
            .graphics {
                width: 25px;
                margin-left: 969px;
            }
            #displayreport tr:nth-child(even)
            {
                background-color:#FFFFFF !important;
            }

            #displayreport  tr:nth-child(odd)
            {
                background-color:#F7F6F3 !important;
            }

            #displayreport  tr:first-child {
                background-color:#5D7B9D !important;
                color:#ffffff !important;
            }
            #displayreport td {
                padding-left: 20px;
                padding-right: 20px;
            }
            #Content {
                padding-top: 50px;
            }

            .profilebox .green {
background: #7db62d;
background: -moz-linear-gradient(top, #7db62d 0%, #53791c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7db62d), color-stop(100%, #53791c));
background: -webkit-linear-gradient(top, #7db62d 0%, #53791c 100%);
background: -o-linear-gradient(top, #7db62d 0%, #53791c 100%);
background: -ms-linear-gradient(top, #7db62d 0%, #53791c 100%);
background: linear-gradient(to bottom, #7db62d 0%, #53791c 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db62d', endColorstr='#53791c', GradientType=0);
-webkit-appearance: none;
width: 50px;
border: 1px solid #3b3b3b;
font: normal 16px Arial, Helvetica, sans-serif;
color: #ffffff;
text-transform: uppercase;
text-align: center;
padding: 5px 15px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
cursor: pointer;
height: 27px;
}
            .green {
color: #ffffff;
-webkit-box-shadow: 0px 0px 3px #ffffff, inset 0px 0px 2px #84AD47;
-moz-box-shadow: 0px 0px 3px #ffffff, inset 0px 0px 2px #84AD47;
box-shadow: 0 0 0 3px #ffffff, inset 0px 0px 2px #84AD47;
border: 2px solid #9CA0A1;
background: #9cc365;
background: -moz-linear-gradient(top, #9cc365 0%, #91b75a 28%, #84aa4e 50%, #4f7b0e 51%, #406906 78%, #3a5f03 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9cc365), color-stop(28%, #91b75a), color-stop(50%, #84aa4e), color-stop(51%, #4f7b0e), color-stop(78%, #406906), color-stop(100%, #3a5f03));
background: -webkit-linear-gradient(top, #9cc365 0%, #91b75a 28%, #84aa4e 50%, #4f7b0e 51%, #406906 78%, #3a5f03 100%);
background: -o-linear-gradient(top, #9cc365 0%, #91b75a 28%, #84aa4e 50%, #4f7b0e 51%, #406906 78%, #3a5f03 100%);
background: -ms-linear-gradient(top, #9cc365 0%, #91b75a 28%, #84aa4e 50%, #4f7b0e 51%, #406906 78%, #3a5f03 100%);
background: linear-gradient(to bottom, #9cc365 0%, #91b75a 28%, #84aa4e 50%, #4f7b0e 51%, #406906 78%, #3a5f03 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9cc365', endColorstr='#3a5f03', GradientType=0 );
text-shadow: -1px -1px 0 #999;
font-size: 14px;
font-weight: normal;
}
                        .light-green {
color: #ffffff;
-webkit-box-shadow: 0px 0px 3px #ffffff, inset 0px 0px 2px #c4d8a7;
-moz-box-shadow: 0px 0px 3px #ffffff, inset 0px 0px 2px #c4d8a7;
box-shadow: 0 0 0 3px #ffffff, inset 0px 0px 2px #c4d8a7;
border: 2px solid #9CA0A1;
background: #b0cf84;
background: -moz-linear-gradient(top, #b0cf84 0%, #91b75a 28%, #84aa4e 50%, #abc08c 51%, #a4b788 78%, #9aad7e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0cf84), color-stop(28%, #91b75a), color-stop(50%, #84aa4e), color-stop(51%, #abc08c), color-stop(78%, #a4b788), color-stop(100%, #9aad7e));
background: -webkit-linear-gradient(top, #b0cf84 0%, #91b75a 28%, #84aa4e 50%, #abc08c 51%, #a4b788 78%, #9aad7e 100%);
background: -o-linear-gradient(top, #b0cf84 0%, #91b75a 28%, #84aa4e 50%, #abc08c 51%, #a4b788 78%, #9aad7e 100%);
background: -ms-linear-gradient(top, #b0cf84 0%, #91b75a 28%, #84aa4e 50%, #abc08c 51%, #a4b788 78%, #9aad7e 100%);
background: linear-gradient(to bottom, #b0cf84 0%, #91b75a 28%, #84aa4e 50%, #abc08c 51%, #a4b788 78%, #9aad7e 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b0cf84', endColorstr='#9aad7e', GradientType=0 );
text-shadow: -1px -1px 0 #999;
font-size: 14px;
font-weight: normal;
}
#saveMessage {
    margin: 39px 0 0 0;
    max-width: 425px;
    background: #d3efd8;
    border: #30a248 1px solid;
    border-radius: 4px;
    padding: 5px 0 5px 0;
    text-align: center;
     display: none;
}
#errorMessage {
margin: 39px 0 0 0;
max-width: 425px;
background: #f9d7d7;
border: #e54141 1px solid;
border-radius: 4px;
padding: 5px 0 5px 0;
text-align: center;
    display: none;
}

            #settingsLogs tr:nth-child(even)
            {
                background-color:#FFFFFF !important;
            }

            #settingsLogs  tr:nth-child(odd)
            {
                background-color:#F7F6F3 !important;
            }

            #settingsLogs  tr:first-child {
                background-color:#5D7B9D !important;
                color:#ffffff !important;
            }
            #settingsLogs td {
                padding-left: 20px;
                padding-right: 20px;
            }
            #settingsLogs  tr:nth-child(2)
            { 
            background-color:#7dd07d !important;
            }
            .CustomerInfo {
                display: none;
            }