﻿.sportTypeSortable ul {
    list-style-type: none;
    height: 500px;
    overflow: overlay;
}

ul {
    overflow: overlay;
    height: 300px;
    padding-left: 10px;
}

li {
    background-color: gray;
    width: 200px;
    height: 30px;
    margin: 0 3px 3px 3px;
    list-style: none;
    padding: 5px;
}

li:first-line {
    color:red;
}

.panel {
    float: left;
    width: 300px;
    border: 1px solid #cccccc;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #888888;
    overflow: hidden;
    /*background-color:#D8DBDF;
    */
}

.panel:first-of-type {
    /*background-color:#B3EAA7;
        */
}

#trash {
    clear: both;
    background-image: url(images/trash.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-color: antiquewhite;
    width: 700px;
    height: 75px;
    
}

h3 {
    background-color: #F0F8FF;
    padding: 10px;
    margin-top: 0px;
    border-bottom: 1px solid gray;
}

#arrows-green-gray {
    float:left;
    background-image: url(images/arrows-green-gray.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 85px;
    height: 365px;
}

select {
    margin: 2px;
    width: 153px;
    height: 20px;
    height: 22px;
}