body {
font-family: Monda, arial, sans-serif;
margin: 0;
padding: 0;
background: #222222;
}
.header-container {
background: #000000;
width: 100%;
height: 130px;
}
.contestcentral_header {
color: #ffffff;
text-align: right;
background: #000000 url('Images/SA/Heritage-Sports-Logo.png') 20px no-repeat;
padding: 0;
margin: 0 auto;
height: 130px;
width: 1024px;
}
.contestcentral_header a {
color: #999999;
text-decoration: none;
text-transform: uppercase;
display: table-cell;
margin: 65px 0 0 0;
padding: 6px 15px;
background: #222222;
border-right: 1px solid #444444;
border-left: 1px solid #222222;
border-bottom: 2px solid #666666;
font-size: 11px;
font-weight: bold;
text-shadow: -1px -1px 0 #111111;
float: right;
border-top-left-radius: 6px; 
border-top-right-radius: 6px; 
}
.contestcentral_header a:hover {
color: #fb9b24;
background: #333333;
border-bottom: 2px solid #fb9b24;
}
.top-info {
padding: 6px 20px;
margin: 0;
color: #fb9b24;
font-size: 10px;
text-transform: uppercase;
background-color: #222222;
font-weight: normal;
float: right;
border-bottom: 1px solid #fb9b24;
border-right: 1px solid #444444;
border-left: 1px solid #222222;
line-height: 20px;
}
.top-info-logout {
text-transform: uppercase;
float: right;
border-bottom: 1px solid #666666;
border-left: 1px solid #222222;}
.top-info-logout a {
padding: 6px 20px;
margin: 0; 
border: 0; 
font-size: 11px;
color: #ffffff;
text-shadow: none;
font-weight: normal;
background-color: #333333;
}
.top-info-logout a:hover {
border-bottom: 1px solid #fb9b24;
background-color: #222222;

}
h2 {
color: #fb9b24;
text-align: center;
background: url('Images/SA/survivor-header.jpg') center center no-repeat;
width: 100%;
height: 200px;
font-size: 36px;
border-bottom: 5px solid #fb9b24;
text-indent: -10000px;
}
#title {
text-align: center;
font-size: 18px;
color: #ffffff;
margin: 0 0 20px 0;
}
.survivor-container  {
width: 1000px;
display: block;
margin: 0 auto;
box-shadow: 0 0 20px #000000;
text-align: center;
padding: 20px 12px 40px 12px;
border-bottom: 4px solid #fb9b24;
background: #14061d url('Images/SA/bg.jpg') center 600px no-repeat;
min-height: 800px;
}
.game {
margin: 0 10px 10px 10px;
width: 420px;
height: 80px; 
background: #DDDDDD; 
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#D8D8D8'); 
background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#D8D8D8)); 
background: -moz-linear-gradient(top, #EFEFEF, #D8D8D8);
border: 1px solid #fff;
border-radius: 40px;
text-shadow: 0 1px 0 #ffffff;
box-shadow: 0 0 20px #000000;
display: inline-block;
}
.game:hover {
border: 1px solid #fb9b24;
}
.left {
width: calc(50% - 1px);
height: 100%; 
border-right: 1px solid #ffffff;
float: left;
border-top-left-radius: 40px;
border-bottom-left-radius: 40px;
}
.right {
width: calc(50% - 1px);
height: 100%;
border-left: 1px solid #cecece; 
float: right;
border-top-right-radius: 40px;
border-bottom-right-radius: 40px;
}
.left:hover, .right:hover, .selected {
overflow: hidden;
background: rgb(249,174,82); /* Old browsers */
background: -moz-linear-gradient(top, rgba(249,174,82,1) 0%, rgba(251,155,36,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(249,174,82,1) 0%,rgba(251,155,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(249,174,82,1) 0%,rgba(251,155,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ae52', endColorstr='#fb9b24',GradientType=0 ); /* IE6-9 */cursor: pointer;
text-shadow: 0 1px 0 #fbc124;
}
.hidden, hidden:hover {
background: rgba(115, 115, 115, 0.33) !important;
opacity: 0.95;
color: #afafaf !important;
text-shadow: none !important;
cursor: not-allowed !important;
}
.hidden .name, .hidden .name b {
color: #666666;
}
.hidden .logo {
opacity: 0.33;
}
.logo {
border: 2px solid #666666;
border-radius: 50%;
width: 60px;
height: 60px;
display: block;
margin: 8px;
background-position: 7px 7px;
background-repeat: no-repeat;
background-size: 70%;
box-shadow: -2px -2px 2px #999999;
} 
.left:hover .logo, .right:hover .logo {
border-color: #666666;
box-shadow: -2px -2px 2px #ff9900;
}
.mini-logo {
border-radius: 50%;
width: 40px;
height: 40px;
display: inline-block;
margin: 10px;
background-position: center;
background-repeat: no-repeat;
background-size: 66%;
float: right;
background-color: #f3f3f3;
box-shadow: -2px -2px 2px #999;
} 
.week-status {
width: 20px;
height: 20px;
display: inline-block;
margin: 18px 0 0 20px;
background-color: #f0f0f0;
background-image: url('Images/SA/survivor-q.png');
background-position: center;
background-repeat: no-repeat;
background-size: 80%;
border: 1px solid #999;
box-shadow: 1px 1px 1px #fff;
}
.week-status.lose {
background-image: url('Images/SA/survivor-x.png')
}
.week-status.win {
background-image: url('Images/SA/survivor-check.png')
}
.name {
display: inline-block;
font-size: 16px;
text-transform: capitalize;
font-weight: normal;
letter-spacing: -1px;
line-height: 18px;
color: #333333;
}
.name b{
font-size: 20px;
color: #000000;
}
.right td {
text-align: right;
}
.confirm-box{
border: 2px solid #666666;
width: 600px;
margin: 200px auto 0 auto;
border-radius: 10px;
background: #222222;
padding: 20px 0 40px 0;
box-shadow: 0 0 60px #000000;
}
.confirm-box p {
font-size: 14px;
margin: 0 0 20px 0;
}
.confirm-selection {
display:none;
position: fixed;
top: 0;
left: 0;
margin: 0;
padding: 0;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.88);
}
.confirm-selection p {
color: #ffffff;
}
.confirm-selection a {
background: #347150 url('Images/SA/button_bg_hover.jpg') center -6px repeat-x;
padding: 8px 16px;
color: #ffffff;
font-weight: bold;
font-size: 14px;
text-decoration: none;
text-transform: uppercase;
text-shadow: -1px -1px 0 #666666;
display: inline-block;
width: 160px;
border-radius: 4px;
border: 1px solid #333333;
}
.confirm-selection #cancel {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+49,676d75+51,28343b+100 */
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 49%, rgba(103,109,117,1) 51%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 49%,rgba(103,109,117,1) 51%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 49%,rgba(103,109,117,1) 51%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
width: 80px;
margin: 30px 10px 0 0;

}
.selection {
font-size: 24px;
color: #ffffff;
width: 300px;
background-size: 15%;
background-repeat: no-repeat;
background-position: 25px center;
margin: 0 auto;
border-radius: 40px;
border: 2px solid #ffffff;
text-align: center;
padding: 20px 0 20px 80px;
letter-spacing: -1px;
box-shadow: 0 0 20px #000000;
}
.week {
width: 200px;
padding: 0 0 0 40px;
margin: 4px;
background: #DDDDDD; 
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#D8D8D8'); 
background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#D8D8D8)); 
background: -moz-linear-gradient(top, #EFEFEF, #D8D8D8);
border: 1px solid #999999;
border-radius: 40px;
display: inline-block;
line-height: 20px;
box-shadow: 0 0 20px #000000;
color: #333333;
text-align: center;
opacity: 0.5;
}
.week.week-active {
opacity: 1;
}
.week.week-highlighted {
opacity: 1;
background: rgb(249,174,82); /* Old browsers */
background: -moz-linear-gradient(top, rgba(249,174,82,1) 0%, rgba(251,155,36,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(249,174,82,1) 0%,rgba(251,155,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(249,174,82,1) 0%,rgba(251,155,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ae52', endColorstr='#fb9b24',GradientType=0 ); /* IE6-9 */cursor: pointer;
}
.week.week-highlighted p {
text-shadow: 0 1px 1px #fbc124 !important;
}
.week:hover {
background-color: #fb9b24;
color: #000000;
}
.week p {
font-size: 18px;
float: left;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
text-shadow: 0 1px 0 #ffffff;
padding-top: 2px;
}

.cardinals {background-color: #b00539; background-image:  url('Images/SA/arizona.png');}
.ravens {background-color: #2d3075; background-image: url('Images/SA/baltimore.png');}
.giants {background-color: #003b7f; background-image: url('Images/SA/nygiants.png');}
.chiefs {background-color: #c30011; background-image: url('Images/SA/kansascity.png');}
.saints {background-color: #c1a746; background-image: url('Images/SA/neworleans.png');}
.colts {background-color: #003689; background-image: url('Images/SA/indianapolis.png');}
.seahawks {background-color: #2c587d; background-image: url('Images/SA/seattle.png');}
.bengals {background-color: #f36a24; background-image: url('Images/SA/cinncinati.png');}
.redskins {background-color: #7c1415; background-image: url('Images/SA/washington.png');}
.raiders {background-color: #000000; background-image: url('Images/SA/oakland.png');}
.panthers {background-color: #0084c4; background-image: url('Images/SA/carolina.png');}
.jets {background-color: #055032; background-image: url('Images/SA/nyjets.png');}
.bills {background-color: #143d75; background-image: url('Images/SA/buffalo.png');}
.ers {background-color: #c7001f; background-image: url('Images/SA/sanfrancisco.png');}
.steelers {background-color: #ffc30d; background-image: url('Images/SA/pittsburgh.png');}
.eagles {background-color: #004049; background-image: url('Images/SA/philadelphia.png');}
.bears {background-color: #eb6526; background-image: url('Images/SA/chicago.png');}
.rams {background-color: #002859; background-image: url('Images/SA/losangeles.png');}
.broncos {background-color: #f36a24; background-image: url('Images/SA/denver.png');}
.lions {background-color: #006baf; background-image: url('Images/SA/detroit.png');}
.chargers {background-color: #002859; background-image: url('Images/SA/sandiego.png');}
.browns {background-color: #643615; background-image: url('Images/SA/cleveland.png');}
.cowboys {background-color: #0d2a52; background-image: url('Images/SA/dallas.png');}
.vikings {background-color: #1a065b; background-image: url('Images/SA/minnesota.png');}
.buccaneers {background-color: #be152a; background-image: url('Images/SA/tampabay.png');}
.jaguars {background-color: #01839b; background-image: url('Images/SA/jacksonville.png');}
.texans {background-color: #b6061d; background-image: url('Images/SA/houston.png');}
.titans {background-color: #32a3db; background-image: url('Images/SA/tennessee.png');}
.packers {background-color: #244729; background-image: url('Images/SA/greenbay.png');}
.falcons {background-color: #b50e20; background-image: url('Images/SA/atlanta.png');}
.patriots {background-color: #00214a; background-image: url('Images/SA/newengland.png');}
.dolphins {background-color: #006c6e; background-image: url('Images/SA/miami.png');}


.loader_container{
	position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto !important;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
}
.loader {
  
  background: url(Images/SA/h-logo-small.png) center center no-repeat;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid #fb9b24;
  border-right: 0.5em solid #fb9b24;
  border-bottom: 0.5em solid  #fb9b24;
  border-left: 0.5em solid #fb9b24;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1s infinite linear;
  animation: load8 1s infinite linear;
}
.loader,
.loader:after {
  margin-top: 393px;
  border-radius: 50%;
  width: 5.8em;
  height: 5.8em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.weekContainer {
margin-left: 30px;
margin-right: 20px;
padding-bottom: 50px;
}
.teamsContainer {
width: 290px;
margin: 10px 40px 0 0;
padding: 10px;
border: 0;
display: inline-block;
color: #ffffff;
font-size: 16px;
background: rgba(0, 0, 0, 0.5);
border: 1px solid #333333;
border-radius: 8px;
}
.teamsContainer ul {
margin: 0;
padding: 0;
}
.teamsContainer ul li {
list-style-type: none;
margin: 5px 0;
padding: 0;
width: 140px;
display: inline-block;
font-size: 12px;
color: #f0f0f0;
text-align: center;
text-shadow: -1px -1px 1px #000000;
}
.teamsContainer ul li.used {
text-decoration: line-through;
color: #999999;
opacity: 0.5;
}
.graphBox {
float: right;
height: 220px;
width: 210px;
margin: 0 100px 0 0;
padding: 0;
}
.error-msg {
display: none;
color: #fb9b24;
padding-top: 20px;
font-size: 16px;
}
.weekLegend {
color: #ffffff;
font-size: 13px;
}
#previousWeek, #activeWeek, #naWeek {
width: 16px;
height: 16px;
display: inline-block;
margin: 40px 5px -3px 10px;
}
#previousWeek {background: #ffffff;}
#activeWeek {background: #fb9b24;}
#naWeek {background: #ffffff; opacity: 0.5;}
.navButton {font-family: Monda; background: #cecece; color: #333333; padding: 4px 15px; border-radius: 20px; text-decoration: none; font-size: 12px; border: 0; text-transform: uppercase; font-weight: bold; margin-top: 20px;}
.navButton:hover {cursor: pointer; background: #fb9b24; color: #ffffff;}
.rules-container {
text-align: left;
color: #ffffff;
font-size: 14px;
font-weight: normal;
padding: 20px 40px;
margin: 0 auto;
width: 700px;
background: rgba(0,0,0,0.5);
border-radius: 10px;
}
.rules-container h3 {
color: #fb9b24;
font-size: 18px;
font-weight: bold;
margin: 0;
}
.survivor-table {
background-color: #333333;
padding: 20px 40px;
color: #f1f1f1;
border-radius: 10px;
width: 500px;
margin: 0 auto;
}
.survivor-table.survivor-table h3 {
text-align: center;
color: #fb9b24;
background-color: #000000 !important;
}
.survivor-table.survivor-table ul li {
margin: 5px 0;
font-size: 12px;
}