body 
{
background-color: rgb(239, 240, 247);
font-family: Arial, Helvetica, sans-serif;
}
h2{
background-color: #333;
color: #f1f1f1;
padding: 20px;
font-weight: bold;
font-size: 14px;
text-transform: uppercase;
border-bottom: 4px solid #fb9b24;
}
.ui-button-text {

text-transform: uppercase;
font-size: 11px;
font-weight: bold;
cursor: pointer;
}
.ui-corner-all {
border-radius: 0;
-moz-border-radius: 0;
}
.ui-widget-header, .ui-state-default, .ui-corner-top, .ui-tabs-active, .ui-state-active {
border: 0;
background: none;
}
.ui-tabs-panel 
{

background-color: #333;
}
#tabs {
margin-top: -10px;
border: none;
background-color:  #fff;
}

.ui-button-text-only .ui-button-text {
padding: 2px 20px;
border: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {

background: #fb9b24;

}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
padding: 0;


}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {

padding: 0;
margin: 0;
}
.graphBox {
height: 200px;
width: 200px;
margin: 0;
padding: 0;

}
#div_Result {
margin-top: 10px;
color: #666;
font-size: 10px;
text-transform: uppercase;
}
.ui-tabs .ui-tabs-panel {
padding: 30px 10px;
line-height: 26px;
}
.bootstrap-datetimepicker-widget tr:hover {
  background-color: #808080;
}