﻿.span-special {
    float: left;
    margin: 0 10px 0 0;
    line-height: 2;
}

.saveMessage {
    margin-right: auto;
    margin-left: auto;
    background: #d3efd8;
    border: #30a248 1px solid;
    border-radius: 4px;
    padding: 5px 0 5px 0;
    width: 275px;
    text-align: center;
    display: none;
}

.errorMessage {
    margin-right: auto;
    margin-left: auto;
    background: #f9d7d7;
    border: #e54141 1px solid;
    border-radius: 4px;
    padding: 5px 0 5px 0;
    width: 275px;
    text-align: center;
    display: none;
}