﻿@{
    ViewBag.Title = "Index";
}
<script src="../../Scripts/BonusSettings.js?v=123"></script>
<h3>Search Customer</h3>
<table id="tb-form-index"> 
    <tbody><tr class="tr-title">
               <th>
                   <span>Customer:</span>
                   <input type="text" id="CustomerId" size="12" name="CustomerId" value="">
               </th>
               <th>
                   <input name="submit" type="submit" id="btn-submit" value="SEARCH" class="green submit" style="float:right;margin:5px; width:82px;">
               </th>
           </tr>
    </tbody></table>
<hr style="border-color: #c6c6c6; height: 1px;"/>
<h3> Bonus Setting</h3>
<table id="tbl-result" class="table_Result" ></table>

<hr style="border-color: #c6c6c6; height: 1px;"/>
<h3> Excluded Bonus List</h3>
<table id="tbl-result-bonus" class="table_Result" ></table>