﻿@{
    ViewBag.Title = "BitCoinReport";
}



<center>
    <input type="hidden" id="ConfirmedBy" value="@ViewBag.ConfirmedBy"/>
    <div id="Content">
        <table id="tb-form-index"> 
            <tr class="tr-title">
                <th>
                    <span>Date from:</span> 
                    <input type="text" id="datepicker" readonly="readonly" name="startDate" />
                </th>
                <th>
                    <span>Date to:</span> 
                    <input type="text" id="datepicker1" readonly="readonly" name="endDate" />
                </th>
                <th>
                    <span>Customer:</span>
                    <input type="text" id="CustomerId" size="12" name="CustomerId" />
                </th>
                <th>
                    <span>Gateway:</span>
                    <select id="Gateway">
                        <option value="All" selected="selected">--All--</option>
                        <option value="BTC">BTC</option>
                        <option value="BTC1">BTC1</option>
                        <option value="GPRO1">GPRO1</option>
                    </select>
                </th>
                <th>
                    <span>Payment Details:</span>
                    <input type="text" id="PaymentDetails"  maxlength="34" size="30" name="PaymentDetails" />
                </th>
                <th>
                    <input name="submit" type="submit" id="getBitCoin" value="SEARCH" class="green submit" style="float:right;margin:5px; width:82px;">
                </th>
            </tr>
        </table>
       
        <h2>Transactions Report</h2>

        <div id="displayreport" style="  font-size: 11px;">
        
        </div>

    </div>
</center> 
<script>
    $(function () {
        $(document).keyup(function (e) {
            if (e.keyCode == 13) {
                $('#getBitCoin').click();
            }
        });
    });
</script>  