﻿@{
    ViewBag.Title = "TransactionsReport";
}

<center>
<div id="Content">
    <table id="tb-form-index"> 
         <tr class="tr-title">
              <th>
                  <span>Date from:</span> 
                  <input type="text" id="datepicker" readonly="readonly" name="startDate" />
              </th>
              <th>
                  <span>Date to:</span> 
                  <input type="text" id="datepicker1" readonly="readonly" name="endDate" />
              </th>
               <th>
                    <span>Accumulated Deposit Over:</span>
                 <input type="text" id="AmountX"  maxlength="34" size="12" name="AmountX" />
               </th>
             <th>
                 <input name="submit" type="submit" id="getTransactionsReport" value="SEARCH" class="green submit" style="float:right;margin:5px; width:82px;">
             </th>
         </tr>
    </table>
       
<h2>Transactions Report</h2>

    <div id="displayreport" style="  font-size: 11px;">
        
    </div>

</div>
</center> 
<script>
    $(function () {
        $(document).keyup(function (e) {
            if (e.keyCode == 13) {
                $('#getTransactionsReport').click();
            }
        });
    });
</script>  