﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript" src="~/Scripts/InternalTransfers.js?v1"></script>

<input type="text" id="datepickerStart"/>
<input id="btnSubmit" type="button" value="Submit" onClick="getASI_Import(document.getElementById('datepickerStart').value)"/>

<div id="div_Result">
    <table id="Transfer_Totals" class="table_Result isLink" style="width:460px" >
    </table>
    <br />
    <table id="ASI_Import" class="table_Result isLink" style="width:460px" >
    </table>
</div>

<div id="div_Details">
    <div id="closeBtn"></div>
    <div id="innerDiv">
        <h2 id="detail-title"></h2>
        <table id="ASI_Details" class="table_Result" >
        </table>
    </div>
</div>
