﻿@{
    ViewBag.Title = "Index";
}

<script src="../Scripts/Accounting/Sap/SapLpMaintenance.js?v=100120271"></script>
<style>

    #saveMessage-Bonus {
        width: 244px;
        background: #30a248;
        border: #30a248 1px solid;
        border-radius: 4px;
        padding: 5px 0 5px 0;
        text-align: center;
        display: none;
        margin-top: 5px;
        margin-right: 50px;
        height: 13px;
        float: left;
    }

    #errorMessage-Bonus {
        width: 244px;
        background: #f9d7d7;
        border: #e54141 1px solid;
        border-radius: 4px;
        padding: 5px 0 5px 0;
        text-align: center;
        display: none;
        margin-top: 5px;
        margin-right: 50px;
        height: 13px;
        float: left;
    }
</style>
<h3>Export SAP Report :LinePros Version 10:271</h3>
<table>
    <tr>
        <th>Date from:<input type="text" id="datepickerStart" /></th>
        <th>Date to:<input type="text" id="datepickerEnd" /></th>
        <th class="searchByMastertoExport"></th>
        <th><input type="checkbox" class="_deposits" />Only Deposits & Withdrawals</th>
        <th><input type="checkbox" class="_AgentExcluded" />Per Head Profile</th>
        <th><input name="submit" type="submit" id="btn-Export" value="Export" class="green submit" style="float:right;margin:5px; width:82px;"></th>
    </tr>
</table>
<hr style="border-color: #c6c6c6; height: 1px;" />
<h3>Search Customer</h3>
<table id="tb-form-index">
    <tbody>
        <tr class="tr-title">
            <th>
                <span>Select table:</span>
                <select id="tableId">
                    <option value="MasterAgent">Master Agent</option>
                    <option value="HeaderTemplate_LinePros">HeaderTemplate</option>
                    <option value="LinesTemplate_LinePros">LinesTemplate</option>
                </select>
            </th>
            <th class="searchByMaster">

            </th>
            <th>
                <input name="submit" type="submit" id="btn-submit" value="SEARCH" class="green submit" style="float:right;margin:5px; width:82px;">
            </th>
        </tr>
    </tbody>
</table>

<div style="height:23px;position: absolute">

    <div id="saveMessage-Bonus">Your information has been saved.</div>
    <div id="errorMessage-Bonus">Your information has not been saved.</div>
</div>
<br />
<br />
<table id="tbl-result" class="table_Result"></table>

