﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript
{
    <script type="text/javascript"src="@Url.Content("/Scripts/Northbet/Northbet.js")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
}

<div class="container">
  
  
   
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Northbet Volume per Sport</h5>
                <div class="form-group">
                From:
                <input type="text" id="datepickerStart" />
                To:
                <input type="text" id="datepickerEnd" />
              
                
                <select class="form-select" aria-label="Default select example" id="txt-League">
                    <option selected>League</option>
                    <option value="">ALL</option>
                    <option value="NBA">NBA</option>
                    <option value="MLB">MLB</option>

                    <option value="NFL">NFL</option>
                    <option value="NHL">NHL</option>
                    <option value="NCAA">NCAA Basketball</option>
                    <option value="NCAAB">NCAA Baseball</option>
                    <option value="College">NCAA Football</option>
                </select>
                </div>
                <br>
                    <br>
                        <input id="btnSubmit" type="button" value="Submit" class="btn btn-block btn-primary btn-sm" onClick="GetLeagueVolume()" />

</div>
        </div>
    </div>


    <div id="div_Summary">
        <table id="PokerSummary" class="table_Result" width="90%">
        </table>
    </div>
</div>