﻿<script src="~/Scripts/ww_processingFees.js"></script>
@{
    ViewBag.Title = "WWProcessingFeesView";
}

<h2>WW Processing Fees</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="WagerWeb">
<input type="submit" id="btn-submit">

<br><br>
<table class="tbl-summary">
<tbody>
    <tr>
        <td>
            Total Players
        </td>
        <td>
            <span class="span-totalPlayers"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Amount
        </td>
        <td>
            <span class="span-totalAmount"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Fees
        </td>
        <td>
            <span class="span-totalFees"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total AF Fees
        </td>
        <td>
            <span class="span-totalAfFees"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total WW Fees
        </td>
        <td>
            <span class="span-totalWWFees"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total HS Fees
        </td>
        <td>
            <span class="span-totalHsFees"></span>
        </td>
    </tr>
</tbody>
</table>


<br><br>
<table id="tbl-result" class="table_Result" >
</table>

<br><br>
<table class="tbl-summary">
<tbody>
    <tr>
        <td>
            Total Players
        </td>
        <td>
            <span class="span-totalPlayers"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Amount
        </td>
        <td>
            <span class="span-totalAmount"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Fees
        </td>
        <td>
            <span class="span-totalFees"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total AF Fees
        </td>
        <td>
            <span class="span-totalAfFees"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total WW Fees
        </td>
        <td>
            <span class="span-totalWWFees"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total HS Fees
        </td>
        <td>
            <span class="span-totalHsFees"></span>
        </td>
    </tr>
</tbody>
</table>
