﻿
@{
    ViewBag.Title = "AverageReport";
}



<h2>Average Report</h2>

@section JavaScript
{
    <script type="text/javascript"src="@Url.Content("/Scripts/Depositbonus.js?v=00011")"></script>
    
    
    


}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}


<div class="clear top-space">
    Dates <br/>
    From: 
    <input type="text" id="datepickerStart" placeholder="Start Date"/>
    To: <input type="text" id="datepickerEnd" placeholder="End Date"/>
    Site: 
    <input id="Heritage" type="radio" checked="checked" name="TType" value="Heritage" />Heritage
    <input id="Wagerweb" type="radio"  name="TType" value="Wagerweb" />Wagerweb
    <input id="Anorth" type="radio"  name="TType" value="NORTH" />Northbet
    <br/><br/>
    Amounts:<br/>
    From: 
    <input type="text" id="txtvalueFrom" placeholder="Amount From" value="2000"/>* 
    To: <input type="text" id="txtvalueTo" placeholder="Amount To" value="5000"/>*  
    
      <br/><br/>
                   Export to Excel <div id="getInfoToExcelAverage" class="getInfoToExcel"></div>
    <br/><br/>
    <hr/>

Customer Id<br/><input type="text" id="txtCustomerid" />optional<br/><br/>
                       
</div>

     Sport:<select id="selSportTypeList" class="selSportTypeList"><option selected="selected" hidden="hidden">Sport</option></select>
       League: <select id="selSportSubTypeList" class="selSportSubTypeList"></select>* optional
* optional (You need to select a League! )

<br/><br/>

<input id="btnSubmit" type="button" value="Submit" onClick="getAverage()"/><br/>*
Based on the Date Range or the amount of information the Report took some time.
<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>