﻿@{
    ViewBag.Title = "Week PlayerCount Report";
}


@section JavaScript
{
    <script type="text/javascript"src="@Url.Content("/Scripts/umd/popper.js?v=00005")"></script>
<script type="text/javascript"src="@Url.Content("/Scripts/moment.js?v=00005")"></script>
 <script type="text/javascript"src="@Url.Content("/Scripts/bootstrap-datetimepicker.js?v=00005")"></script>
    <script type="text/javascript"src="@Url.Content("/Scripts/bootstrap.js?v=00005")"></script>

    <script type="text/javascript"src="@Url.Content("/Scripts/canvasjs.min.js?v=00005")"></script>

    <script type="text/javascript"src="@Url.Content("/Scripts/jquery-ui.js?v=00016")"></script>
    <script type="text/javascript"src="@Url.Content("/Scripts/weekCount.js?v=18")"></script>



}
@section css {
   <link href='https://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet"/>
   <link href="@Url.Content("~/Content/wpd.css?v=3")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/site.css?v=3")" rel="stylesheet"/>
   <link href="@Url.Content("~/Content/bootstrap-datetimepicker.css?v=2")" rel="stylesheet"/>

}




<h2>Player Count by week </h2> 

<div class="card-deck">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Get Player Count by week </h5>
            @*      <select name="week" id="select_id">
                    <option value="0" >Select Week</option>
                    <option value="0" >This Week</option>
                    <option value="1">Last Week</option>
                    <option value="2">Last Two Weeks</option>

                </select>*@
            <button type="button" class="btn btn-primary" onClick="getBookPlayerDataW(0)">This Week</button>
            <button type="button" class="btn btn-info" onClick="getBookPlayerDataW(1)">Last Week</button>
            <button type="button" class="btn btn-success" onClick="getBookPlayerDataW(2)">Last Two Weeks</button>
            @* <input id="btnSubmit" type="button" value="Submit"  class="btn btn-primary"/>*@
            <p class="card-text"><small class="text-muted">This Report take some time</small></p>
        </div>
    </div>
    <div class="card">

        <div class="card-body">
            <h5 class="card-title"> 2)  Player Count by Date </h5>
            From:  <input type="text" id="datepickerStart" placeholder="Start Date" />
            To: <input type="text" id="datepickerEnd" placeholder="End Date" /><input id="btnSubmit" type="button" value="Submit" onClick="getBookPlayerData()" class="btn btn-primary" />


            <p class="card-text"><small class="text-muted">This Report take some time</small></p>
        </div>
    </div>



</div>


<div class="container-fluid">



    <hr/>

<div class="card-deck" id="AllLBL">
    <div class="card">
            <div class="card-body">
       <div class="alert alert-primary" role="alert" id="ASILBL">
            ASI - Date Range (<span id="ASILBLt"></span>)
        </div>
 <table id="tbl-result" class="table_Result" width="100%" >
        </table>
    </div>  
    </div>

    <div class="card">
            <div class="card-body">
       <div class="alert alert-primary" role="alert" id="DGSLBL">
            DGS - Date Range (<span id="DGSLBLt"></span>)
        </div>
<table id="tbl-result2" class="table_Result" width="100%" >
        </table>
    </div>  
    </div>

</div>



</div>