﻿<script src="~/Scripts/cancelWager.js"></script>
<h3>Cancel Pending Wagers</h3>

<div style="float:left;margin-right: 25px; border-right: 1px solid grey;">

    (This tools is for old bets that stayed pending for some reason.<br> It will not credit back the money, only change the status of the bet to CANCEL) <br><br>
    <table id="tb-form-index"> 
        <tbody><tr class="tr-title">
               <td>
                   <span>Date Start:</span>
                   <input type="text" id="datepickerStart"/>
               </td>
                <td>
                   <span>Date End:</span>
                   <input type="text" id="datepickerEnd"/>
               </td>
               
           </tr>
            <tr class="tr-title">
                <td style="height: 60px;">
                   <span>Customer ID:</span>
                   <input type="text" id="customerID" size="20">
               </td>
               <td>
                   <input name="submit" type="submit" id="btn-submit" value="SEARCH" class="green submit" style= width:82px;">
               </td>
            </tr>
        </tbody></table>

</div>
<div>
    
    ( Use this button when an old wager has been deleted and the corresponding transaction did not change the amount value. ) <br><br><br><br><br>
<input name="submit2" type="submit" id="btn-synch" value="SYNCH" class="red submit" style="margin:5px; width:82px;">
    

</div>

<div style="clear:both;">

    <hr style="border-color: #c6c6c6; height: 1px;"/>


    <table id="tbl-result" class="table_Result" ></table>

    <span id="msgResult" style="color:red;font-weight:bold;">Customer ID field can be blank</span>

</div>