﻿@{
    ViewBag.Title = "GameRotationReport";
}



<h2>Game Rotation Report</h2> 
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/Depositbonus.js?v=00012")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}


<div class="clear top-space">
    From: <br>
          <input type="text" id="datepickerStart" placeholder="Start Date"/>
          To: <input type="text" id="datepickerEnd" placeholder="End Date"/>
          <br/><br/>
       
    
Status: 
    <input id="O" type="radio" checked="checked" name="TType" value="O" />Open
                          <input id="C" type="radio"  name="TType" value="c" />Close
                      <input id="X" type="radio"  name="TType" value="X" />Cancel
<input id="A" type="radio"  name="TType" value="A" />ALL

 <br/><br/>
Rot number: 
   <input type="text" id="rotnum" placeholder="rotnum"/>
</div>
 <br/><br/>
<input id="btnSubmit" type="button" value="Submit" onClick="getRotnumReport()"/><br/>*
Based on the Date Range or the amount of information the Report the report took some time.
<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>