﻿@{
    ViewBag.Title = "Wager Count Report";
}

<h2>Wager Count</h2> 1) Get Wager Count by date or by customer 
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/Depositbonus.js?v=00005")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<div class="clear top-space">
    From: <br>
          <input type="text" id="datepickerStart" placeholder="Start Date"/>
          To: <input type="text" id="datepickerEnd" placeholder="End Date"/>
          <br/><br/>
          Customer Id:<br>
                      <input type="text" id="txtCustomerid" placeholder="Customer Id"/>
 
          Limit: (More )
                      <input type="text" id="txtquantity" placeholder="quantity"/>
                      <br/><br/>


    
</div>
 <br/><br/>
<input id="btnSubmit" type="button" value="Submit" onClick="getWData()"/><br/>*
Based on the Date Range or the amount of information the Report the report took some time.
<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>