﻿@{
    ViewBag.Title = "LiveBettingperf";
}

<h2>betting performances</h2>
@section JavaScript
{
    <script type="text/javascript"src="@Url.Content("/Scripts/Depositbonus.js?v=00009")"></script>



}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}



<div class="clear top-space">

    From: 
          <input type="text" id="datepickerStart" placeholder="Start Date"/>
          To: <input type="text" id="datepickerEnd" placeholder="End Date"/>
  Customer Id: <input type="text" id="txtCustomerid" placeholder="Customer Id"/> 
          <br/><br/>
      
      
Wager Type:
    <input id="LIVE" type="radio"  name="TType2" value="LIVE" />IDS Live
    
    <input id="DST" type="radio" name="TType2" value="DST - Props" />DST Props
  <!--<input id="LIVEBHS - LIVEBHS" type="radio" name="TType2" value="LIVEBHS - LIVEBHS" />HS Live-->
                    <input id="GSLIVE" type="radio" name="TType2" value="GSLIVE" checked="checked"/>GSLIVE
 <input id="PREMATCH" type="radio" name="TType2" value="PREMATCH" />PREMATCH (Soccer +)

   

                    <br/><br/>
                   Export to Excel <div id="getInfoToExcel" ></div>
     <br/><br/><br/>
<input id="btnSubmit" type="button" value="Submit" onClick="getLiveBettingper()"/><br/>*
Based on the Date Range or the amount of information the report may take some time to upload.
<hr/> 
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result tablesorter" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result tablesorter" width="90%" >
    </table>
</div>
</div>