﻿@{
    ViewBag.Title = "LiveReport";
}

<h2>ASI Live Report</h2>
@section JavaScript
{
    <script type="text/javascript"src="@Url.Content("/Scripts/Depositbonus.js?v=00009")"></script>



}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}



<div class="clear top-space">

    From: <br>
          <input type="text" id="datepickerStart" placeholder="Start Date"/>
          To: <input type="text" id="datepickerEnd" placeholder="End Date"/>Based on the Date Range the report may take some time to upload.
          <br/><br/>
ASI Site:
 @*   <input id="1" type="radio" checked="checked" name="TType2" value="1" />IDS Live*@
   
     <input id="3" type="radio" checked="checked" name="TType2" value="3" />LIVE BHS                    

  <input id="all" type="checkbox"  name="TType" value="1" />All Pending Bets
<br/><br/>
        <input id="btnSubmit" type="button" value="Get ASI Information" onClick="getLiveBets()"/>


<input id="btnSubmit" type="button" value="Get DGS Information" onClick="getDGSLiveBets()"/><br/>*

<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result tablesorter" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result tablesorter" width="90%" >
    </table>
</div>
</div>