﻿@{
    ViewBag.Title = "NegativeReport";
}



<h2>Negative Report</h2> 1) Negative Report  by customer 
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("../Scripts/Negative.js?v=00006")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}


<div class="clear top-space">

          Customer Id:<br>
                      <input type="text" id="txtCustomerid" placeholder="Customer Id"/>* <br/><br/>
    
Site: 
    <input id="Heritage" type="radio" checked="checked" name="TType" value="0" />Heritage
                          <input id="Wagerweb" type="radio"  name="TType" value="1" />Wagerweb
                      <input id="Anorth" type="radio"  name="TType" value="2" />Northbet
                      <input id="bet105" type="radio"  name="TType" value="3" />Bet105
<input id="betregal" type="radio"  name="TType" value="4" />BetRegal
</div>
 <br/><br/>
<input id="btnSubmit" type="button" value="Submit" onClick="getNegative()"/><br/>*
Based on the Date Range or the amount of information the Report the report took some time.
<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>