﻿@{
    ViewBag.Title = "Bets on Sport Open Report";
}

<h2>Bets on Sport Open Report</h2> 1) Get Bets on Sport Open Report
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/Scripts/Depositbonus.js?v=0010")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet" />
}


<br />
<br />
<input id="btnSubmit" type="button" value="Submit" onClick="getOpenSports()" />

<hr />
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px">
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%">
    </table>
</div>