﻿@{
    ViewBag.Title = "Open wager Report";
}

<h2>Wager Count</h2> 1) Get Open wager by date or by customer 
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/Depositbonus.js?v=000061")"></script>

<script>

    $(document).ready(function() {
        getOpenWagersData90();
    });

  </script>




}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<div class="clear top-space">
    From: <br>
          <input type="text" id="datepickerStart" placeholder="Start Date"/>
          To: <input type="text" id="datepickerEnd" placeholder="End Date"/>
          <br/><br/>
          Customer Id:<br>
                      <input type="text" id="txtCustomerid" placeholder="Customer Id"/>
 
        Site: 
    <input id="Heritage" type="radio" checked="checked" name="TType" value="0" />Heritage
                          <input id="Wagerweb" type="radio"  name="TType" value="1" />Wagerweb
                          <input id="north" type="radio"  name="TType" value="2" />Northbet
                            <input id="PHN" type="radio"  name="TType" value="3" />PHN
</div>
                      <br/><br/>


    
</div>
 <br/><br/>
<input id="btnSubmit" type="button" value="Submit" onClick="getOpenWagersData()"/><br/>*
Based on the Date Range or the amount of information the Report the report took some time.
<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>