﻿@{
    ViewBag.Title = "PayoutReport";
}



<h2>Payout Report</h2> 
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/Depositbonus.js?v=00013")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}


<div class="clear top-space">
    From: <br>
          <input type="text" id="datepickerStart" placeholder="Start Date"/>
          To: <input type="text" id="datepickerEnd" placeholder="End Date"/>
          <br/><br/>
          Customer Id:<br>
                      <input type="text" id="txtCustomerid" placeholder="Customer Id"/>* <br/><br/>
    
Site: 
    <input id="Heritage" type="radio" checked="checked" name="TType" value="0" />Heritage
                          <input id="Wagerweb" type="radio"  name="TType" value="1" />Wagerweb
                      <input id="Anorth" type="radio"  name="TType" value="2" />Northbet

 <br/><br/>
Method: 
    <input id="ChargeBack" type="radio" checked="checked" name="MType" value="0" />ChargeBack

</div>
 <br/><br/>
<input id="btnSubmit" type="button" value="Submit" onClick="getPayoutReport()"/><br/>*
Based on the Date Range or the amount of information the Report the report took some time.
<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>