﻿@{
    ViewBag.Title = "Week Count Report";
}


@section JavaScript
{
    <script type="text/javascript"src="@Url.Content("/Scripts/umd/popper.js?v=00005")"></script>
<script type="text/javascript"src="@Url.Content("/Scripts/moment.js?v=00005")"></script>
 <script type="text/javascript"src="@Url.Content("/Scripts/bootstrap-datetimepicker.js?v=00005")"></script>
    <script type="text/javascript"src="@Url.Content("/Scripts/bootstrap.js?v=00005")"></script>

    <script type="text/javascript"src="@Url.Content("/Scripts/canvasjs.min.js?v=00005")"></script>
<script type="text/javascript"src="@Url.Content("/Scripts/showGraph.js?v=000051")"></script>
    <script type="text/javascript"src="@Url.Content("/Scripts/jquery-ui.js?v=00016")"></script>
    <script type="text/javascript"src="@Url.Content("/Scripts/weekCount.js?v=00018")"></script>

}

<h2>Week Count</h2> 
<div class="container-fluid">1) Get Wager Count by date or by customer 
@section css {
   <link href='https://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet"/>
   <link href="@Url.Content("~/Content/wpd.css?v=3")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/site.css?v=3")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.css?v=2")" rel="stylesheet"/>
}

<div class="clear top-space">

Site: 
    <input id="Heritage" type="radio" checked="checked" name="TType" value="0" /> Heritage
                          <input id="Wagerweb" type="radio"  name="TType" value="1" /> Wagerweb
                          <input id="PHN" type="radio"  name="TType" value="2" /> PHN
<br />    <br />  

    From: <input type='text' id='weeklyDatePicker' placeholder="Select Week 1" />

          To:  <input type='text' id='weeklyDatePicker2' placeholder="Select Week 2" />




    

 
<input id="btnSubmit" type="button" value="Submit" onClick="getWeekData()" class="btn btn-primary"/><br/>

</div>
<hr/>
<table class="table_Resultgraph">
    <tr>
        <td ><div id="chartContainer" class="graphBox"></div></td>
        <td><div id="chartContainer2" class="graphBox"></div></td>
        <td><div id="chartContainer3" class="graphBox"></div></td>
<td><div id="chartContainer4" class="graphBox"></div></td>
    </tr>
</table>
<hr/>

<div id="div_Summary">
     <div id="week1">Date from:</div>
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>

    <table id="DailySummary1" class="table_Result" width="900px" >
    </table>
</div>
<hr/>
<div id="div_Summary">
    <div id="week2">Date from:</div>
    <table id="TransferSummary" class="table_Result" width="900px" >
    </table>
   <table id="DailySummary2" class="table_Result" width="900px" >
    </table>
</div>
</div>