﻿
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/function.js?v=1.3.1")"></script>
  <script type="text/javascript"src="@Url.Content("/Scripts/CardValidation.js?v=04192024")"></script>

}

@section css {
    <link href="@Url.Content("../Content/site_main.css?v=2")" rel="stylesheet"/>
<link href="@Url.Content("../Content/siten.css?v=2")" rel="stylesheet"/>
}
<center>
<div id="Content">
    <table id="tb-form-index"> 
         <tr class="tr-title">
              <th>
                  <span>Date from:</span> 
                  <input type="text" id="datepicker" readonly="readonly" name="startDate" />
              </th>
              <th>
                  <span>Date to:</span> 
                  <input type="text" id="datepicker1" readonly="readonly" name="endDate" />
              </th>
               <th>
                   <span>Status:</span>
                   <select id="status"><option value="-1">--ALl--</option><option value="0">Pending</option><option value="1">Passed</option><option value="2">Fail</option></select>
               </th>
             <th>
                 <span>Customer:</span>
                 <input type="text" id="CustomerId" size="12" name="CustomerId" value="" />
             </th>
<th>
    <span>Company:</span>
@if(ViewBag.Sportbookid=="3") 
{
     <select id="company"><option value="5">Wagerweb</option></select>
}
else
{
      <select id="company"><option value="1" selected="">Heritage</option><option value="5">Wagerweb</option><option value="25">bet105</option><option value="26">BetRegal</option></select>
}
              
               </th>

             <th>
                 <input name="submit" type="submit" id="getCardValidation" value="SEARCH" class="green submit" style="float:right;margin:5px; width:82px;">
             </th>
         </tr>
<span>Clerk:</span>
        <input type="text" readonly="readonly" value="@ViewBag.clerk" id="clerkId"/>

    </table>
       

    <div id="displayreport">
        
    </div>

</div>
</center>   


<style>
    .txtAreaReason {
        width: 300px;
        font-size: 10px;
    }
</style>