﻿@{
    ViewBag.Title = "validateCustomerInfo";
}
ClerkId: @ViewBag.clerk
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/function.js?v=1.3.0")"></script>
   <script type="text/javascript"src="@Url.Content("/Scripts/customerinfo.js?v=1.3.0")"></script>

}

@section css {
    <link href="@Url.Content("~/Content/site_main.css?v=2")" rel="stylesheet"/>
<link href="@Url.Content("~/Content/siten.css?v=2")" rel="stylesheet"/>
}

<h2>Manual Validation</h2>

<div class="container">
<center>
<div id="Content">

    <table id="tb-form-index"> 
         <tr class="tr-title">
            <th>
                 <h4>Customer:
                 <input type="text" id="CustomerId" size="12" name="CustomerId" value="" /></h4>
             </th>

             <th>
                 <input name="submit" type="submit" id="getCardValidation" value="SEARCH" class="green submit" style="float:right;margin:5px; width:82px;">
<input type="hidden" readonly="readonly" value="@ViewBag.clerk" id="clerk"/>
             </th>
         </tr>
    </table>
       

    <div id="displayreport">
        
    </div>

</div>
</center>   
</div>

<style>
    #displayreport td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
     .txtAreaReason {
         width: 300px;
         font-size: 10px;
     }
</style>