﻿<script src="~/Scripts/accessCount.js"></script>
<h3>Internet Access Count</h3>
<table id="tb-form-index"> 
    <tbody><tr class="tr-title">
               <th>
                   <span>Date:</span>
                   <input type="text" id="datepickerStart"/>
               </th>
               <th>
                   <span>Limit:</span>
                   <input type="text" id="Limit" size="12" name="" value="300">
               </th>
               <th>
                   <input name="submit" type="submit" id="btn-submit" value="SEARCH" class="green submit" style="float:right;margin:5px; width:82px;">
               </th>
           </tr>
    </tbody></table>

<input name="submit" type="submit" value="UPDATE" class="green submit btn-update" style="margin:5px; width:82px;display:none">
<table id="tbl-result" class="table_Result" ></table>

<hr style="border-color: #c6c6c6; height: 1px;"/>
