﻿<script src="~/Scripts/RollinIfbetReport.js"></script>

<h2>Top Rollin Ifbet Wager Report</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Customer ID: <input type="text" id="CustomerID"/>

<input type="submit" id="btn-submit">

<br><br>


<table id="tbl-result" class="table_Result" >
</table>