﻿<script src="~/Scripts/acc_headcount.js?v=1"></script>

<h2>Head Count</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="WagerWeb">
<input type="submit" id="btn-submit">

<br><br>
Total: <span id="span-totalPlayers">0</span> players, &nbsp;
<b>Call Center:</b> <span id="span-totalCC">0</span> players, &nbsp;
<b>Internet:</b> <span id="span-totalInternet">0</span> players
<br><br>

<table id="tbl-result" class="table_Result" >
</table>