﻿<script src="~/Scripts/SA_makepicks.js"></script>
<link href="~/Content/survivor.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
<div class="header-container">
    <div class="contestcentral_header"></div>
</div>
<div class="loader_container"><div class="loader"></div></div>
    <div class="survivor-container">
        
        <p id="title">Grade picks for NFL <span class="week-number"></span>.</p>
        <div class="main_content">
        </div>
        <button onclick="window.history.go(-1)" class="navButton">Go Back</button>
    </div>
