﻿<script src="~/Scripts/SA_selectWeek.js"></script>
<link href="~/Content/survivor.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>


<div class="header-container">
<div class="contestcentral_header"></div>
</div>
<div class="loader_container"><div class="loader"></div></div>

<div class="survivor-container">
    <div class="weekContainer">
        <p id="title">Select a week below to pick your team for the week:</p>
        <a class="week" href="#"><p>Week 1</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 2</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 3</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 4</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 5</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 6</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 7</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 8</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 9</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 10</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 11</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 12</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 13</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 14</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 15</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 16</p><div class="week-status"></div></a>
        <a class="week" href="#"><p>Week 17</p><div class="week-status"></div></a>
    <div class="weekLegend"><div class="week-status lose"></div> Not Grader Yet <div class="week-status win"></div> Graded </div>
    </div>
</div>

