﻿@{
    ViewBag.Title = "Fake Name Generator";
}


@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/Customer.js?v=00013")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=3")" rel="stylesheet"/>
}
<h2>Fake Name Generator</h2> 1) Fake Name Generator For Signup
 <br/><br/>


 <input id="0" type="radio" checked="checked" name="TType" value="0" />New 
    <input id="1" type="radio" name="TType" value="1" />Old 
   
 <br/><br/>
 <input id="USA" type="radio" checked="checked" name="TCountry" value="USA" />USA 
    <input id="CA" type="radio" name="TCountry" value="CA" />Canada
   

 <br/><br/>
<input id="btnSubmit" type="button" value="Get Name" onClick="GetNewName()"/><br/>

<hr/>


<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

