﻿@{
    ViewBag.Title = "Mark customer For New site";
}


@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/Scripts/Customer.js?v=00005")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet" />
}

<h2>Move Customer Front End</h2> 1) Marked customer For Front End
<div class="clear top-space">

    Customer Id:<br>
    <input type="text" id="txtCustomeridFE" placeholder="Customer Id" />


    Select the site:

    <input id="Y" type="radio" checked="checked" name="TFE" value="Y" />New FE
    <input id="N" type="radio" name="TFE" value="N" />Old FE
    <input id="btnSubmit" type="button" value="Submit" onClick="UpdateNewFE()" /><br />
</div>
<div class="clear top-space">
    The following criteria is being applied to redirect to new system:

    <h3>See the new web only</h3>


    <ul>
        <li> All Post up customers grade 2 and 3 </li>

        <li>All customers that signed up after July 1st, 2023</li>
    </ul>

</div>
<h2>Check on which site is customer.</h2> 

<div class="clear top-space">

    Customer Id:<br>
    <input type="text" id="txtCustomerid" placeholder="Customer Id" />

    <input id="btnSubmit" type="button" value="Submit" onClick="GetInfo()" /><br />
</div>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px">
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%">
    </table>
</div>