﻿@{
    ViewBag.Title = "BetRegal Sunday Parlay";
}


@section JavaScript
{
 <script type="text/javascript"src="@Url.Content("../Scripts/function.js?v=1.3.0")"></script>
   <script type="text/javascript"src="@Url.Content("~/Scripts/GetSites.js?v=00043")"></script>

}
@section css {
 <link href="@Url.Content("../Content/site_main.css?v=2")" rel="stylesheet"/>
    <link href="@Url.Content("../Content/wpd.css?v=3")" rel="stylesheet"/>
}
<h2>Bet Regal  Sunday Parlay </h2> 1) Sunday Parlay
It will be for anyone that has bet at least $20* on a minimum 3* team parlay on NFL games on the Date Range.
 <br/><br/>


  <span>Date from:</span> 

<input type="text" id="datepickerStart" placeholder="Start Date"/>


  <span>Date to:</span> 
                  <input type="text" id="datepickerEnd" readonly="readonly" name="endDate" />
   
<span>Minimum Amount:</span> $
<input type="text" id="MinAmount" size="5" name="MinAmount" value="20" />

<span>Minimum Picks: </span> $
                 <input type="text" id="MinPicks" size="3" name="MinPicks" value="3" />

   

<br/><br/>
<input id="btnSubmit" type="button" value="Get List" onClick="GetSundayParlay()"/><br/>

<hr/>


<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="100px" >
    </table>
</div>

