﻿@{
    ViewBag.Title = "BetRegal Email";
}


@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("../Scripts/function.js?v=1.3.0")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/BetRegalScripts.js?v=00044")"></script>

}
@section css {
    <link href="@Url.Content("../Content/site_main.css?v=2")" rel="stylesheet" />
    <link href="@Url.Content("../Content/wpd.css?v=3")" rel="stylesheet" />
}
<h2>Bet Regal  Email  List </h2> Email  List
<ul>
    <li>
        NO self-excluded players
    </li>
    <li>
        ONLY customers that have opted in to receiving email communications
    </li>
    <li>
        ONLY active accounts (no accounts that have been closed)
    </li>
</ul>



<br />

<input id="btnSubmit" type="button" value="Get Email List" onClick="GetBasicEmail()" />
<br />

<hr />


<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="100px">
    </table>
</div>

