﻿@{
    ViewBag.Title = "BetRegal Email";
}


@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("../Scripts/function.js?v=1.3.0")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/BetRegalScripts.js?v=00044")"></script>

}
@section css {
    <link href="@Url.Content("../Content/site_main.css?v=2")" rel="stylesheet" />
    <link href="@Url.Content("../Content/wpd.css?v=3")" rel="stylesheet" />
}
<h2>Bet Regal  Email  List </h2> Email  List
 List of all customers that have opted in to email communications.

<br />

1) Please select an option
<select id="Condition"><option value="0" selected="">All</option><option value="1">Funded</option><option value="2">Not Funded</option></select>
3) Please select an Exclusion
<select id="Feature">
    <option value="0" selected="">All</option>
    <option value="1">Excluded for Casino and Racebook </option>
    <option value="2">Excluded for Sports and Racebook</option>
    <option value="3">Excluded for Casino and Sports</option>
</select>


<span>Date from:</span>

<input type="text" id="datepickerStart" placeholder="Start Date" />
<span>Optional Customer:</span>
<input type="text" id="CustomerId" size="12" name="CustomerId" value="" />
<br />
<br />
<input id="btnSubmit" type="button" value="Get Email List" onClick="GetBrEmail()" />
<br />

<hr />


<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="100px">
    </table>
</div>

