﻿@{
    ViewBag.Title = "Get Revenue";
}

<h2>Get Revenue</h2>
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("../Scripts/function.js?v=1.3.0")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/BetRegalScripts.js?v=1102023")"></script>

}
@section css {
    <link href="@Url.Content("../Content/site_main.css?v=2")" rel="stylesheet" />
    <link href="@Url.Content("../Content/wpd.css?v=3")" rel="stylesheet" />
}

<div class="clear top-space">
    From: <br>
    <input type="text" id="datepickerStart" placeholder="Start Date" />
    To: <input type="text" id="datepickerEnd" placeholder="End Date" />
    <br /><br />
  

</div>


<br />
<br />
<input id="btnSubmit" type="button" value="Submit" onClick="getrevenue()" />
<br />*
Based on the Date Range or the amount of information the report may take some time to upload.
<hr />
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result tablesorter" width="900px">
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result tablesorter" width="90%">
    </table>
</div>