﻿@{
    ViewBag.Title = "BetRegal Ontario Players";
}


@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("../Scripts/function.js?v=1.3.0")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/BetRegalScripts.js?v=000415")"></script>

}
@section css {
    <link href="@Url.Content("../Content/site_main.css?v=2")" rel="stylesheet" />
    <link href="@Url.Content("../Content/wpd.css?v=3")" rel="stylesheet" />
}
<h2>Bet Regal  Ontario Players </h2>
 List of all Ontario customers 

<br />


<input id="btnSubmit" type="button" value="Get Player List" onClick="GetOntarioPlayers()" />
<br />

<hr />


<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="100px">
    </table>
</div>

