﻿@{
    ViewBag.Title = "Rollover Calculate";
}
@section JavaScript
{
    <script type="text/javascript" src="~/Scripts/Rollover.js"></script>
    <script type="text/javascript"src="~/Scripts/jquery211.min.js?v=00005"></script>
    <script type="text/javascript"src="~/Scripts/moment290.js?v=00005"></script>
    <script type="text/javascript"src="~/Scripts/bootstrap335.min.js?v=00005"></script>
    <script type="text/javascript"src="@Url.Content("/Scripts/Rollover.js?v=000127")"></script>


}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
}

<h2>Get Calculation</h2>



    <div class="top-space">

        <div class="row">
            <div class='col-sm-4'>
                <div class="form-group mb-3" style="width: 300px;">
                    <div class='input-group date'>
                        <input type="text" id="customerId" class="form-control" placeholder="Customer ID" aria-label="Customer ID aria-describedby="basic-addon2" autocomplete="off" />
                        <span class="input-group-addon">
                            <span class="fas fa-user"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class="form-group">
                    <input id="btnSubmit" type="button" class="btn btn-primary" value="Submit" onClick="getRolloverCalculation()" />
                </div>
            </div>

        </div>
    <div class="row">
        <div class='col-sm-4'>
            <table id="tbl-rollover" class="table_Result" style="width:100%">
            </table>
        </div>

    </div>

        </div>


   

