﻿@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="~/Scripts/Rollover.js"></script>
<script type="text/javascript"src="~/Scripts/jquery211.min.js?v=00005"></script>
<script type="text/javascript"src="~/Scripts/moment290.js?v=00005"></script>
<script type="text/javascript"src="~/Scripts/bootstrap335.min.js?v=00005"></script>
<script type="text/javascript"src="~/Scripts/bootstrap-datetimepicker414.js?v=0005"></script>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap3.3.5.min.css?v=2" rel="stylesheet"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="~/Content//bootstrap-datetimepicker.css?v=2" rel="stylesheet"/>

<style>
    h2 {
        background-color: #333;
        color: #f1f1f1;
        padding: 20px;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 4px solid #fb9b24;
    }
    .ui-datepicker-trigger {
        margin-right: 10px;
        height: 22px;
        margin-top: 7px;
        margin-left: 5px;
    }
</style>


<h2>Rollover</h2>

<div class="container">

    When date range values are kept blank, the rollover is calculated automatically from the last 3 months of bonus found in the account.
    <div class="top-space">
    
    <div class="row">
        <div class='col-sm-4'>
            <div class="form-group mb-3" style="width: 300px;">
                <div class='input-group date' >
                      <input type="text" id="customerId" class="form-control" placeholder="Customer ID" aria-label="Customer ID aria-describedby="basic-addon2" autocomplete="off" />
                      <span class="input-group-addon">
                        <span class="fas fa-user"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" placeholder="Start Date" id='dateStart' autocomplete="off"/>
                    <span class="input-group-addon">
                        <span class="fas fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" placeholder="End Date" id='dateEnd' autocomplete="off"/>
                    <span class="input-group-addon">
                        <span class="fas fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

        <input id="btnSubmit" type="button" class="btn btn-primary" value="Submit" onClick="getRollover()"/>
    </div>

    <div id="div_Result">
        <table id="tbl-rollover" class="table_Result" style="width:100%" >
        </table>
    </div>

</div>



<script type="text/javascript">
    $(function () {

        var dateNow = new Date();
        $('#datetimepicker1').datetimepicker({
            useCurrent: false
        });
        $('#datetimepicker2').datetimepicker({
            useCurrent: false
        });
    });
</script>