﻿@{
    ViewBag.Title = "ASI Import Comparison";
}


<h2>ASI Import Comparison</h2> 

@section JavaScript
{
    <script type="text/javascript"src="@Url.Content("/Scripts/acc_importComparison.js?v=5")"></script>


}

@section css {
    <link href="@Url.Content("~/Content/acc_importComparison.css?v=2")" rel="stylesheet"/>
}


<div style="float:left;">
    <select id="ddl_importTable1" class="ddl_importTable" >
    </select>

    <select id="ddl_importTable2" class="ddl_importTable" >
    </select>

    <input type="submit" id="btn_Submit" value="Compare">
</div>

<div id="getInfoToExcel" ></div>

<br><br>
<span id="message"></span>

<table id="tbl_table1" class="table_Result">
</table>

<br>
<hr>
<br>



@if (@ViewBag.delete=="1")
    {
 <select id="ddl_importTable3" class="ddl_importTable" >
</select>
   
        <input type="submit" id="btn_Delete" value="Delete backup">
<br><br>
<span id="message2"></span>
<table id="tbl_table2" class="table_Result">
</table>


<div id="dialog-confirm" title="Delete backup">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These item will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

 }    