﻿@{
    ViewBag.Title = "Human Resources";
}

<h2>Late Report</h2> 1) Get Lateness Information
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/HR.js?v=00017")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<div class="clear top-space">

@using (Html.BeginForm("Index", "HR", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}



@Html.ValidationMessage("ReviewErrors")
 <br/>  

</div>
 <input id="btnSubmit" type="button" value="Submit" onClick="GetHRExcel()"/>* Please Get The Excel From Fiorella.



@if (TempData["SuccessMessage"] != null)
 {
    <div id="div_Summary">
         <strong>@TempData["SuccessMessage"]</strong>
    </div>
 }
<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>
    <table id="LDSummary" class="table_Result" width="900px" >
    </table> 

<h2>Process</h2> 2) Process information
<div class="clear top-space">
<input id="btnSubmit" type="button" value="Get" onClick="getCasinoData()"/>
<br/><br/>
    
</div>
 
<hr/>
<div id="div_Summary">
    <table id="CasinoSummary" class="table_Result" width="900px" >
    </table>
</div>


 
<hr/>
<div id="div_Summary">
   

    <table id="CasinoProfitSummary" class="table_Result" width="900px" >
    </table>
</div>