﻿@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    h2 {
        background-color: #333;
        color: #f1f1f1;
        padding: 20px;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 4px solid #fb9b24;
    }
</style>

<h2>Football Promo</h2>

<script type="text/javascript" src="~/Scripts/footballPromo.js"></script>

<div class="clear top-space">
    
<div class="container">
     <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3" style="width: 300px;">
                  <input type="text" id="customerId" class="form-control" placeholder="Customer ID" aria-label="Customer ID aria-describedby="basic-addon2" />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Ex. "1201"</span>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3" style="width: 300px;">
                  <input type="text" id="freebetAmount" class="form-control" placeholder="Free Bet Amount" aria-label="Free Bet Amount aria-describedby="basic-addon2" />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">$</span>
                  </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col">
            <input id="btnSubmit" type="button" class="btn btn-primary" value="Add to list" onClick="getPromo()"/>
        </div>
    </div>
</div>

    
</div>

<hr />

<div id="div_Result">
    <table id="tbl-return" class="table_Result" style="width:500px;margin: auto;" >
    </table>
</div>


