﻿<script src="~/Scripts/LimitBonus.js?v=2"></script>
<h3>Limit bonus by customer</h3>

<table id="tbl-result" class="table_Result"></table>

<hr style="border-color: #c6c6c6; height: 1px;"/>
<h3>Set Limit bonus by customer</h3>
<table> 
    <tbody>
        <tr class="tr-title">
            <th>          
                <span>Customer:</span>
                <input type="text" id="Add_CustomerId" size="12" name="CustomerId" value="">            
            </th>
            <th>
               <input name="submit" type="submit" id="btn-add" value="ADD" class="green submit" style="float:right;margin:5px; width:82px;">
            </th>
        </tr>
    </tbody>
</table>

<div id="saveMessage" class="saveMessage">The customer was saved successfully.</div>
<div id="removeMessage" class="saveMessage">The customer was removed successfully.</div>
<div id="errorAddMessage" class="errorMessage">An error has occurred.</div>