﻿@{
    ViewBag.Title = "Bitcoin Wallet Report";
}

<h2>Bitcoin Wallet Report </h2> user: @ViewBag.clerk site :@ViewBag.site
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/BitCoinWallet.js?v=00004")"></script>

}


@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<input type="hidden" value="@ViewBag.clerk" id="clerk"/>
<input type="hidden" value="@ViewBag.site" id="site"/>

<center>
<div id="Content">
    <table id="tb-form-index"> 
         <tr class="tr-title">
              <th>
                  <span>Date from:</span> 
                   <input type="text" id="datepickerStart" placeholder="Start Date"/>
              </th>
              <th>
                  <span>Date to:</span> 
                  <input type="text" id="datepickerEnd" placeholder="End Date"/>
              </th>
               <th>
                   <span>Status:</span>
                   <select id="status"><option value="">--ALl--</option><option value="P">Pending</option><option value="I">InProgress</option><option value="A">Approved</option></select>
               </th>
             <th>
                 <input name="submit" type="submit" id="GetBitCoinWallet" value="SEARCH" class="green submit" style="float:right;margin:5px; width:82px;">
             </th>
         </tr>
    </table>
       <br/>

    <table id="tbl-result" class="table_Result" width="900px">
        
    </table>

</div>
</center>   


<style>
    .txtAreaReason {
        width: 300px;
        font-size: 10px;
    }
</style>