﻿
@{
    ViewBag.Title = "Scores List";
}





@section JavaScript
{
    <script type="text/javascript"src="@Url.Content("/Scripts/scores.js?v=00013")"></script>
    
    
    


}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}



<h2>Alerts Log</h2>
<input id="btnSubmit" type="button" value="Refresh" onClick="getDataLog()"/><br/>
<div id="div_Summary">
    <table id="LogSummary" class="table_Result" width="90%" >
    </table>
</div>
<h2>Scores by Customer</h2>
Customer Id <input type="text" id="txtCustomerid" /> <input id="btnSubmit" type="button" value="Submit" onClick="getCustomScore()"/>
    <table id="ScoresSummary" class="table_Result" width="90%" >
    </table>
<h2>Remove Game by Customer</h2>
Customer Id<input type="text" id="txtCustomerid" />
Game number (Team 1 ID) <input type="text" id="txtRotNum" /> 
 <input id="btnSubmit" type="button" value="Submit" onClick="DeleteCustomerScores()"/><br/>
    <table id="ScoresSummary" class="table_Result" width="90%" >
    </table>
<h2>Scores List</h2>
<input id="btnSubmit" type="button" value="Refresh" onClick="getData()"/><br/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="90%" >
    </table>
</div>

<h2>Scores List</h2>
<input id="btnSubmit" type="button" value="Refresh" onClick="getSOData()"/><br/>
<div id="div_Summary">
    <table id="PokerSummary2" class="table_Result" width="90%" >
    </table>
</div>

