﻿@{
    ViewBag.Title = "Customer";
}



@section JavaScript
{
    <script type="text/javascript"src="@Url.Content("/Scripts/Poker.js?id=001")"></script>
    
    
    


}

@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<h3>Poker </h3>



<div class="clear top-space"><h2>Sync Customer Password in Poker</h2> 
    <input type="text" id="customerId" placeholder="Customer ID"/>
<input id="btnSubmit" type="button" value="Sync Password" onClick="syncpassword()"/>
Just in case the password was changed on CRM, or in customer Maintenance..<br /><br />

<h2>Poker Limits </h2>
    <input type="text" id="customerId2" placeholder="Customer ID"/>
<input id="btnSubmit" type="button" value="Customer Limits" onClick="getPokerLimits()"/>
To Get customer Poker Limits.<br />
</div>

<div class="clear top-space">


    
</div>

<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Result">
    <table id="PokerTrans" class="table_Result" width="900px" >
    </table>
</div>
