﻿@{
    ViewBag.Title = "Index";
}

<h2>Poker Transactions</h2>

<script type="text/javascript" src="/Scripts/Poker.js"></script>

<div class="clear top-space">
    <input type="text" id="customerId" placeholder="Customer ID"/>
    <input type="text" id="datepickerStart" placeholder="Start Date"/>
    <input type="text" id="datepickerEnd" placeholder="End Date"/>
</div>

<div class="clear top-space">
    Credit/Debit:
    <select id="tranCode">
      <option value="all" selected>* All *</option>
      <option value="credits">Credits</option>
      <option value="debits">Debits</option>
    </select>
    Status:
    <select id="status">
      <option value="all" selected>* All *</option>
      <option value="success">Success</option>
      <option value="failed">Failed</option>
    </select>
    Time zone:
    <select id="timeZone">
      <option value="EST">EST</option>
      <option value="PST" selected>PST</option>
    </select>

    <input id="btnSubmit" type="button" value="Submit" onClick="getPokerTransactions()"/>
</div>

<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Result">
    <table id="PokerTrans" class="table_Result" width="900px" >
    </table>
</div>
