﻿@{
    ViewBag.Title = "Casino Risk Free";
}
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/LiveDealer.js?v=000127")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
}
<div class="container">
<div class="card-header">
                           Live Dealer, Nucleus and Betsoft
                        </div>



  

   
  

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Live Dealer</h5>
        <p class="card-text">Get The Excel From LiveDealer Admin. HSReport.xls</p>
          <input id="btnSubmit" type="button" value="Submit LiveDealer" class="btn btn-block btn-primary btn-sm" onClick="getLiveDealerExcel()"/>
<small>\\VM-TESTA01\Inetpub\HSIntranetV2\App_Data</small>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Betsoft</h5>
                <p class="card-text">Get The Excel From Betsoft Admin. BSGReport.xls</p>
                 <input id="btnSubmitBS" type="button" value="Submit Betsoft" class="btn btn-block btn-primary btn-sm" onClick="getBetsoftExcel()"/>
            <small>\\VM-TESTA01\Inetpub\HSIntranetV2\App_Data</small>
</div>
        </div>
    </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nucleus</h5>
        <p class="card-text">Get The Excel From Nucleus Admin. NCReport.xls</p>
          <input id="btnSubmitNC" type="button" value="Submit Nucleus" class="btn btn-block btn-primary btn-sm" onClick="getNucleusExcel()"/>
<small>\\VM-TESTA01\Inetpub\HSIntranetV2\App_Data</small>

      </div>
    </div>
  </div>
</div>
    

<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>
    <table id="LDSummary" class="table_Result" width="900px" >
    </table> 

<div class="card-header">
                          Get Regular Casino Info by Date
                        </div>
    
<div class="clear top-space">
      <input type="text" id="datepickerStart" placeholder="Start Date"/> 12:00 AM &nbsp;
    <input type="text" id="datepickerEnd" placeholder="End Date"/> 11:59 PM
    <input id="btnSubmit" type="button" value="Get" class="btn btn-block btn-primary btn-sm" onClick="getCasinoDatabyDate()"/>
    <br/><br/>
    
</div>
 
<hr/>
<div id="div_Summary">
    <table id="CasinoSummary" class="table_Result" width="900px" >
    </table>
</div>

<div class="card-header">
                          Get Casino Profit
                        </div>

<div class="clear top-space">
<input id="btnSubmit" type="button" value="Get" class="btn btn-block btn-primary btn-sm" onClick="getCasinoProfitData()"/>
<br/><br/>
    
</div>
 
<hr/>
<div id="div_Summary">
   

    <table id="CasinoProfitSummary" class="table_Result" width="900px" >
    </table>
</div>
</div>