﻿@{
    ViewBag.Title = "Daily Live Dealer";
}

<h2>Live Dealer</h2> 1) Get LiveDealer Information
@section JavaScript
{
   <script type="text/javascript"src="@Url.Content("/Scripts/LiveDealer.js?v=00003")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet"/>
}

<div class="clear top-space">

    <input type="text" id="datepickerStart" placeholder="Start Date"/>
    <input type="text" id="datepickerEnd" placeholder="End Date"/>
<br/><br/>
  
</div>
 <input id="btnSubmit" type="button" value="Submit" onClick="getDataDaily()"/>* Check the Current Date with the Date in the below chart, if the Date are the same the Report was already Generated.
<hr/>
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px" >
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%" >
    </table>
</div>
    <table id="LDSummary" class="table_Result" width="900px" >
    </table> 

    
</div>
 
<hr/>
<div id="div_Summary">
   

    <table id="CasinoProfitSummary" class="table_Result" width="900px" >
    </table>
</div>