﻿@{
    ViewBag.Title = "Live Dealer";
}

<h2>Live Dealer</h2> 1) Get LiveDealer Information
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/Scripts/LiveDealer.js?v=00017")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet" />
}

<div class="clear top-space">
    Please Copy the Fresh Version on \\VM-TESTA01\Inetpub\HSIntranetV2\App_Data
    <br /><br />


</div>
<input id="btnSubmit" type="button" value="Submit" onClick="getLiveDealerExcel()" />* Please Get The Excel From LiveDealer Admin
<hr />
<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="900px">
    </table>
</div>

<div id="div_Summary">
    <table id="TransferSummary" class="table_Result" width="90%">
    </table>
</div>
<table id="LDSummary" class="table_Result" width="900px">
</table>

<h2>Regular Casino</h2> 2) Get Regular Casino Info
<div class="clear top-space">
    <input id="btnSubmit" type="button" value="Get" onClick="getCasinoData()" />
    <br /><br />

</div>

<hr />
<div id="div_Summary">
    <table id="CasinoSummary" class="table_Result" width="900px">
    </table>
</div>

<h2>Casino Profit</h2> 3) Get Casino Profit
<div class="clear top-space">
    <input id="btnSubmit" type="button" value="Get" onClick="getCasinoProfitData()" />
    <br /><br />

</div>

<hr />
<div id="div_Summary">


    <table id="CasinoProfitSummary" class="table_Result" width="900px">
    </table>
</div>

<h2>Final Report</h2> 4) Get Final Report
<div class="clear top-space">
    <input id="btnSubmit" type="button" value="Get" onClick="GetCasinoRebateReport()" />


</div>

<hr />
<div id="div_Summary">


    <table id="DVCasinoRebateReport" class="table_Result" width="900px">
    </table>
</div>

<h2>Final Report</h2> 4) Get Customers with Casino Disabled
<div class="clear top-space">
    <input id="btnSubmit" type="button" value="Get" onClick="GetCasinoDisabled()" />


</div>

<hr />
<div id="div_Summary">


    <table id="DVGetCasinoDisabled" class="table_Result" width="900px">
    </table>
</div>