﻿<script src="~/Scripts/acc_playersWithBalance.js?v=3"></script>
<link href="~/Content/ww_convertionRate.css" rel="stylesheet" />
<style>
    .firstRow-totalAGent tbody tr:nth-child(4) {
    background-color:#FCE87F;
}
    </style>
<h2>Account Balances</h2>

From:<input type="text" id="datepickerStart"/>
Master/Agent ID: <input type="text" id="txb-agentid" value=""><input type="radio" name="radio1" value="Player" checked="checked"/>Players 
<input type="radio" name="radio1" value="Agent"/>Agents 
<input type="radio" name="radio1" value="PHagents" />PH Agents
<input type="checkbox" id="chk-showAll" value="false">Show All

<label for="company">Choose a company:</label>
<select name="company" id="company">
    <option value="ASI" selected="">ASI</option>
    <option value="LP">LinePros</option>
</select>
<input type="submit" id="btn-submit"> 
<br><br>Example: Balance date as start of the day.<br>
<br/><img id="DownloadInfoToExcel" src="~/Content/Images/excel.png" title="Download"/>

<table id="tbl-result" class="table_Result firstRow-totalACC" >
</table>

<table id="tbl-resultA" class="table_Result firstRow-totalAGent" >
</table>
