﻿<script src="~/Scripts/acc_wwProcessingFees.js"></script>
@{
    ViewBag.Title = "";
}

<h2>Fee To Charge By Method</h2>

From:<input type="text" id="datepickerStart"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="">
<input type="submit" id="btn-submit"> <!--input type="submit" id="btn-submit2" value="Export to Excel"-->

<br><br>
<table id="tbl-result" class="table_Result" >
</table>
<br>
