﻿<script src="~/Scripts/acc_wwProcessingFees.js?v=123"></script>
@{
    ViewBag.Title = "";
}

<h2>Fee Details To Charge By Method</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="">
<input type="submit" id="btn-submitdetails"> <input type="submit" id="btn-submit3" value="Export to Excel">

<br><br>
<table id="tbl-result" class="table_Result" >
</table>
<br>
