﻿@{
    ViewBag.Title = "PHN_BalanceReportView";
}

<h2>PHN_BalanceReport</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="">
<input type="submit" id="btn-submit">

<br><br>
Total: <span id="span-totalPlayers">0</span> players
<br><br>


<table id="tbl-result" class="table_Result" >
</table>