﻿@{
    ViewBag.Title = "Get";
}
<script type="text/javascript" src="/Scripts/HR_BankForm.js?V=234"></script>
<h2>Get</h2><div id="getInfoToExcel" ></div>
<table id="tbl-result" class="table_Result" ></table>