﻿@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="/Scripts/HR_BankForm.js"></script>
<div class="employee-form">
	<h2>Datos para Cuentas BCR</h2>

	  Nombre: <input type="text" id="FullName">
        <br>
        Primer  Apellido: <input type="text" id="LastName1">
        <br>
        Segundo Apellido: <input type="text" id="LastName2">
        <br>
        Tipo de Identificaci&#243;n: <input type="text" id="IDType">
	  <br>
	  N&#250;mero de Identificaci&#243;n: <input type="text" id="ID">
	  <br>
	  
	  Fecha Vencimiento del ID: <input type="text" id="ExpirationIDDate">(mm/dd/yyyy)
	  <br>
	  Estado Civil: <input type="text" id="CivilStatus">
	  <br>
	  Direcci&#243;n de Residencia: <input type="text" id="HomeAddress">
	  <br><br>
	  Provincia: <input type="text" id="Location1">
	  <br>
	  Cant&#243;n: <input type="text" id="Location2">
	  <br>
	  Distrito: <input type="text" id="Location3">
	  <br>
	  Lugar de Nacimiento: <input type="text" id="BirthCountryName">
	  <br>
	  Pa&#237;s de Nacimiento: <input type="text" id="BirthPlaceName">
	  <br>
	  Nacionalidad: <input type="text" id="Citizenship">

	<h2>Datos del C&#243;nyugue</h2>
	
	  Nombre Completo: <input type="text" id="SpouseName">
	  <br>
	  N&#250;mero de C&#233;dula: <input type="text" id="SpouseID">
	  <br>
	  Cantidad de Hijos: <input type="text" id="ChildrenCount">
	
	<h2>Ubicaciones</h2>
	
	  Tel&#233;fono de Residencia: <input type="text" id="PhoneHome">
	  <br>
	  Tel&#233;fono Celular: <input type="text" id="CellPhone">
	  <br>
	    Correo Electr&#243;nico: <input type="text" id="Email"> <br><br>
<input type="submit" value="Save" id="save"/>

</div>