﻿<script src="~/Scripts/DWwagerWeb.js"></script>
<link href="~/Content/depositwithdrawal.css" rel="stylesheet" />

<h2>Deposit / Withdrawals</h2>

<table cellspacing="20">
    <tr>
        <td>
            <input type="radio" id="rad-deposit" name="tranType" value="deposit" checked>Deposit
        </td>
        <td>
            <input type="radio" id="rad-withdrawal" name="tranType" value="withdrawal">Withdrawal
        </td>
        <td style="display: none;">
            Company:
            <select id="sel-company">
                <option value="Heritage" >Heritage</option>
                <option value="WagerWeb" >WagerWeb</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <span>Date from:</span><input type="text" id="datepickerStart"/>
        </td>
        <td>
            <span>Date to:</span><input type="text" id="datepickerEnd"/>
        </td>
        <td>
            <input id="btnSubmit" type="button" value="Search"/>
        </td>
    </tr>
</table>


<br><br>




<div id="div_Result">

    <table id="tbl-Detail" class="table_Result isLink">
    </table>
    
    <table id="tbl-Result" class="table_Result">
    </table>

    <table id="tbl-TotalDeposit" class="table_Result">
        <thead>
            <tr>
                <th>
                    Total Amount
                </th>
                <th>
                    Accepted
                </th>
                <th>
                    Declined
                </th>
            </tr>
        </thead>
        <tbody>
            <tr><td id="td-totalDeposit"></td><td id="td-accepted"></td><td id="td-declined"></td></tr>
        </tbody>
    </table>

    <table id="tbl-TotalWithdrawal" class="table_Result">
        <thead>
            <tr>
                <th>
                    Total Amount
                </th>
                <th>
                    Total Trans
                </th>
                
            </tr>
        </thead>
        <tbody>
            <tr><td id="td-totalWithdrawal"></td><td id="td-trans"></td></tr>
        </tbody>
    </table>

</div>
