﻿<script src="~/Scripts/CancelGOYB.js"></script>

<br/>
<center>
    Customer ID: <input type="text" id="customerId" value="">
<input type="submit" id="btn-submit">

<br><br>
<span class="description"></span>
<h2 class="tittle"></h2>
<table id="tbl-result" class="table_Result" >
</table>
</center>
