﻿<script src="~/Scripts/AvoxiReport.js"></script>

<h2>Avoxi Report</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Agent: <select type="text" id="txt-agentid"><option value="">--All--</option></select>
Department: <select type="text" id="txt-department"><option value="4">--All--</option>
<option value="2">--CSD--</option>
<option value="1">--Wagering--</option>
<option value="3">--Accounting--</option>

            </select>
<input type="submit" id="btn-submit"><input type="submit" id="btn-submit-excel" value="Export to Excel">

<br><br>


<table id="tbl-result" class="table_Result" >
</table>