﻿<script src="~/Scripts/acc_pphStatement.js"></script>

<h2>PPH Statement</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="PHWW">
<input type="submit" id="btn-submit">

<table id="tbl-result" class="table_Result" >
</table>