﻿@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/shortcut.js"></script>
<link href="~/Content/shortcut.css" rel="stylesheet" />


<div class="report_header">
    <div>
        Shortcut
        <h3>
            <span id="agentID">XTOPA</span>
        </h3>
    </div>
    <div>
    </div>
</div> <!-- report_header -->

<div class="report_tables_options">
    <a href="javascript:print('print')" >PRINT</a>
</div>

<div id="print">

<div id="main-conteiner-report">

    <ul>
        <li class="menu-info selected"><a href="#info-report">Credit Increase / Password</a></li>
        <li class="menu-info selected"><a href="#deposit-report">Customer Deposit</a></li>
    </ul>
    
    <div class="conteiner-report">
        
        <div class="drop-down">Customer: <select id="selectCust" class="selectCust chosen-select"><option>Select Customer</option></select></div>
        <div id="info-report">
            <h3>Credit Increase / Password</h3>
            <table class="table-info" cellspacing="10">
                <tr>
                    <td>Password</td>
                    <td><input type="text" id="pass"/></td>
                </tr>
                <tr>
                    <td>Credit Limit</td>
                    <td><input type="text" id="creditLimit"/></td>
                </tr>
                <tr>
                    <td>Temp Credit Limit</td>
                    <td><input type="text" id="tempCreditLimit"/></td>
                </tr>
                <tr>
                    <td>Temp Credit Limit Date</td>
                    <td><input id="datepickerStart" type="text" placeholder="End Date" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="checkbox" id="isActive" />Active account ( uncheck to suspend )</td>
                </tr>
                <tr>
                    <td></td>
                    <td><button id="Save-Info" class="blue_button">Save</button></td>
                </tr>
            </table>
            
            <div id="saveMessage-info" class="saveMessage">Update was done successfully.</div>
            <div id="errorMessage-info" class="errorMessage">An error has occurred.</div>
        </div>  
        <div id="deposit-report">
            <h3>Customer Deposit</h3>
           
		<table class="table-info" cellspacing="10"> 
	        <tr>
				<td rowspan="3">
					Transaction Type:
				</td>
				<td class="radioType">
					<input type="radio" class="TransType" name="radiox" data-Trancode="C" value="E">Deposit
				</td>
				<td class="radioType">
					<input type="radio" class="TransType" name="radiox" data-Trancode="D" value="I">Withdrawal
				</td>
	        </tr>
	        <tr>
				<td class="radioType">
					<input type="radio" class="TransType" name="radiox" data-Trancode="C" value="C">Bet Adj Credit
				</td>
	            <td class="radioType">
					<input type="radio" class="TransType" name="radiox" data-Trancode="D" value="D">Bet Adj Debit
	            </td>
	        </tr>
            <tr>
				<td class="radioType" colspan="2">
					<input type="radio" class="FreePlay" name="radiox" data-Trancode="C" value="E">Free Play Deposit
				</td>
	        </tr>
		    <!--
                <tr>
		        <td>
		            Figure Date:
		        </td>
		        <td colspan="2">
		            <input id="datepickerEnd" type="text" placeholder="Date" />
		        </td>
		    </tr>
            -->
			<tr>
				<td>
					Amount:
				</td>
				<td colspan="2">
					<input type="text" name="phAmount" id="Amount" size="10">
				</td>
			</tr>
		    <tr>
		        <td>
		            Brief Description:
		        </td>
		        <td colspan="2">
		            <textarea size="10" rows="3" id="tranComments" name="tranComments" style="width: 100%;"></textarea>
		        </td>
		    </tr>
            <tr>
				<td>
					
				</td>
				<td colspan="2">
					<button id="Save-Deposit" class="blue_button">Submit</button>
				</td>
	        </tr>
		</table>
            <div id="saveMessage-deposit" class="saveMessage"></div>
            <div id="errorMessage-deposit" class="errorMessage">An error has occurred.</div>

        </div>  
    </div>
</div>

</div> <!-- print -->

