﻿<script src="~/Scripts/acc_DGSAgentCharge.js?v=1"></script>

<h2>DGS Agent Charge</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="PHN1">
<input type="submit" id="btn-submit">

<br><br>

<table id="tbl-result" class="table_Result" >
</table>