﻿@{
    ViewBag.Title = "Active Calls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/popper.min.js?v=00005")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery211.min.js?v=00005")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment290.js?v=00005")"></script>


    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap335.min.js?v=00005")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Genius/genius.js?v=00005")"></script>


}
@section css {
    <link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/bootstrap3.3.5.min.css?v=2")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.css?v=2")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet" />


}

<h2>Agents Stats</h2>

<input type="hidden" id="custId" name="custId" value=@ViewBag.clerk>

<button class="btn btn-warning" id="AgentStats-submit" type="button">
    Get Details
</button>
<br/>
<small class="text-muted">This Report could take some time</small>

<br>
<br>


<table id="tbl-result" class="table_Result">
</table>


