﻿@{
    ViewBag.Title = "Genius ";
}


@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/popper.min.js?v=00005")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery211.min.js?v=00005")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment290.js?v=00005")"></script>


    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap335.min.js?v=00005")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Genius/genius.js?v=00005")"></script>








}
@section css {
    <link href="@Url.Content("~/Content/bootstrap.min.css?v=2")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/bootstrap3.3.5.min.css?v=2")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.css?v=2")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet" />


}

<div class="row">

    <input type="hidden" id="custId" name="custId" value=@ViewBag.clerk>

    <div class="col-sm-10 mb-10 mb-sm-0 mx-auto">

        <h2>Time Clock</h2>
        <p><strong>Loginname: </strong> @ViewBag.clerk / @ViewBag.NickName. </p>
        <p><strong>Extension: </strong> @ViewBag.PhoneExt. </p>
        <p><strong>Department: </strong> @ViewBag.PhoneExt. TBD </p>

    </div>


</div>



<hr />


<div class="container">

    <div class="row">


        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Login to Sesion</h5>
                    <p class="card-text">Please click when your shift starts.</p>

                    <button class="btn btn-primary" id="Login" type="button">
                        Login
                    </button>
                </div>
            </div>
        </div>



        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pause / Break </h5>
                    <p class="card-text">Please click when your Break starts.</p>
                    <button class="btn btn-warning" id="Pause" type="button">
                        Pause
                    </button>

                    <div id="mySelect" style="display:none">
                        Select a Reason
                        <select name="Reason" id="Reason">
                            <option value="Lunch">At Lunch</option>
                            <option value="Meeting">In a Meeting</option>
                            <option value="Break">On Break</option>
                            <option value="Available">Available</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>



        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Logout</h5>
                    <p class="card-text">Please click when your shift ends..</p>

                    <button class="btn btn-danger" id="Logout" type="button" disabled>
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div id="UserData" style="display:none">
            <h2>Today Information</h2>
        </div>
        <table id="UserSummary" class="table_Result" width="100%">
        </table>
    </div>
</div>

<br />
<br />

