﻿<script src="~/Scripts/Acc_HSCommissionDetails.js?v=12"></script>
<script>
    function addDaysToDateString(dateString, daysToAdd) {
        // Parse the date string into a Date object
      var date = new Date(dateString);

        // Add the specified number of days
        date.setDate(date.getDate() + daysToAdd);

        // Format the new date as a string
        var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
        return new Intl.DateTimeFormat('en-US', options).format(date);
    }

    $(function () {

       

    });

</script>
<h2>Agents Commission Summary</h2>


Week Starting Date:<input type="text" id="datepickerStart"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="">
<input type="submit" id="btn-submit-commSummary" value="Submit">
<br>
<br>
HS Agents Weekly Commission Summary
<br>
From: <span id="from"></span> to <span id="to"></span>
<br>
<table id="tbl-result" class="table_Result" style="width:250px">
</table>