﻿<script src="~/Scripts/Acc_HSCommissionDetails.js?v=1"></script>

<h2>Agents Commission Details</h2>


Week Starting Date:<input type="text" id="datepickerStart"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="">
<input type="submit" id="btn-submit-commDetails" value="Submit">

<table id="tbl-result" class="table_Result" style="width:250px">
</table>