﻿<script src="~/Scripts/Acc_WWAffiliateProcessFee.js?v=123"></script>

<h2>WW Charge AF Fees</h2>
<ul><li>It will charge for the week previous.</li><li><h3 id="errordate"></h3></li>
</ul>
<input type="hidden" id="datetocharge"/>

<input type="submit" id="btn-submit" value="Charge">

<h3 id="errorMessage"></h3>