﻿@{
    ViewBag.Title = "Importer Log";
}


@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("../Scripts/moment.js?v=00005")"></script>
    <script type="text/javascript" src="@Url.Content("../Scripts/LineManager.js?v=01")"></script>

}
@section css {
    <link href="@Url.Content("~/Content/wpd.css?v=2")" rel="stylesheet" />
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    .table_Result tr th, .table_Result tr td, .table_Resultgraph tr td {
        border: initial;
    }

    .show-bets {
        cursor: pointer;
        text-decoration: underline;
        font-size: small;
    }

    h2 {
        color: #f1f1f1 !important;
    }

    select, .ui-datepicker-trigger {
        margin-left: 5px;
    }

    tr.tr-bets td {
        text-align: center;
        vertical-align: middle;
    }

    .tbl-bets {
        width: 100%;
    }
</style>
<div class="container">
    
   
    
    

    <div class="card text-center">
        <div class="card-header">
            Importer Log
        </div>

        <form class="form-inline">
            <div class="form-group mb-2">
                <h5 class="card-title">Rot Number:</h5>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="RotNumber" class="sr-only">Rot Number</label>
                <input type="text" class="form-control" id="RotNumber" placeholder="Enter Rotation Number">
            </div>
            <button class="btn btn-primary" type="button" onClick="getImporterLogs()">Get Data</button>
        </form>



    </div>



    <br/>





    <div id="div_Summary">
        <table id="ImporterSummary" class="table_Result tablesorter" width="100%">
        </table>
    </div>
</div>