﻿<script src="~/Scripts/LineManager.js?v=3"></script>

<style>
    table#tbl-result th {
        border-top: 1px solid #000000;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 10px;
    }

    table#tbl-result td {
        border-bottom: 1px solid #000000;
        padding: 10px;
        border-right: 1px solid #808080;
    }

        table#tbl-result td:first-child, table#tbl-result th:first-child {
            border-left: 1px solid #000000;
        }

</style>

<h2>Line Managers Tool</h2>

<table id="tbl-result" width="700px" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th style="width:200px;">Description</th>
            <th style="width:120px;">Action</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ASI balance/carry over:</td>
            <td><input type="submit" id="btn_asicarryover" value="Fix"></td>
            <td><span id="result_asicarryover"></td>
        </tr>
        <tr>
            <td>DGS grader stuck:</td>
            <td><input type="submit" id="btn_dgsstuck" value="Release"></td>
            <td><span id="result_dgsstuck"></td>
        </tr>
        <tr>
            <td>DGS synch balances:</td>
            <td><input type="submit" id="btn_dgssynch" value="Synch"></td>
            <td><span id="result_dgssynch"></td>
        </tr>
    </tbody>
</table>

<br />
<table id="tbl-result-dgsGrader">
</table>