﻿<script src="~/Scripts/contest_wagers_by_store.js?v=00011"></script>

<h2>Contest Wagers By Store</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Store:
    <input id="All" type="radio"  name="WType" value="0" checked="checked"/>All
    <input id="Heritage" type="radio"  name="WType" value="1" />Heritage
    <input id="RegLo" type="radio"  name="WType" value="2" />RegLo              
    <input id="TRANS" type="radio" name="WType" value="3" />Trans
    <input id="WATCH" type="radio"  name="WType" value="4" />Watch

<input type="submit" id="btn-submit">
<br/><br/>
                   Export to Excel <div id="getInfoToExcel" class="getInfoToExcel"></div>
<br><br>

<table id="tbl-result" class="table_Result tablesorter" >
</table>