﻿<script src="~/Scripts/ww_playersWithBalance.js"></script>
<link href="~/Content/ww_convertionRate.css" rel="stylesheet" />

<h2>Players With Balance</h2>

From:<input type="text" id="datepickerStart"/>
Master/Agent ID: <input type="text" id="txb-agentid" value="">
<input type="submit" id="btn-submit">

<table id="tbl-result" class="table_Result firstRow-total" >
</table>