﻿<script src="~/Scripts/acc_AgentComisionExcludedTrans.js?v=5"></script>

<h2>Agent Comision Excluded Transactions</h2>

From:<input type="text" id="datepickerStart"/>
To:<input type="text" id="datepickerEnd"/>
Agent:<input type="text" id="agent"/>
<input type="submit" id="btn-submit">
<hr/>
<h2 style="display:none">Excluded Transactions</h2>
<span id="span-totalExcluded"></span>
<table id="tbl-result" class="table_Result" >
</table>

<h2 style="display:none">Pre-Approved Excluded Transactions</h2>
<span id="span-totalPreApproved"></span>
<table id="tbl-result2" class="table_Result" >
</table>