﻿<script src="~/Scripts/InetAccessLog.js?v=1674"></script>

<h2>Internet Access Log</h2>
<table>
    <tr>
        <td>From:</td>
        <td><input type="text" id="datepickerStart"/></td>
        <td>To:</td>
        <td><input type="text" id="datepickerEnd"/></td> 
    </tr>
    <tr>
        <td>Customer ID:</td>
        <td><input type="text" id="Customer" value=""></td>
        <td>Ip Address:</td>
        <td><input type="text" id="Address" value=""></td> 
    </tr>
    <tr>
        <td><input id="Related" type="checkbox"/>Related Accounts</td>

<td>
   <input id="DGS" type="radio"  name="TType2" value="DGS" />DGS
    
    <input id="TRAD" type="radio" name="TType2" value="TRAD" />Tradewinds
  <!--<input id="LIVEBHS - LIVEBHS" type="radio" name="TType2" value="LIVEBHS - LIVEBHS" />HS Live-->
 <input id="ASI" type="radio" name="TType2" value="ASI" checked="checked"/>ASI
      </td>

        <td></td>
        <td></td> 
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><input type="submit" id="btn-submit"></td>
        <td></td> 
    </tr>
</table>
 

<br><br>
Total: <span id="span-totalPlayers">0</span> row
<br><br>

<table id="tbl-result" class="table_Result" >
</table>


<table id="tbl-result2" class="table_Result" title="IP Correlated Accounts" >
</table>


<style>
    #tbl-result2,tbl-result {
        width: 100% !important ;
    }
</style>