﻿@{
    ViewBag.Title = "Get Payout Code";
}


@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("../Scripts/function.js?v=1.3.0")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/support.js?v=00047")"></script>

}
@section css {
    <link href="@Url.Content("../Content/site_main.css?v=2")" rel="stylesheet" />
    <link href="@Url.Content("../Content/wpd.css?v=3")" rel="stylesheet" />
}
<h2>Get Payout Code </h2> Return the payout code.
<br />
<br />


<span>Date from:</span>

<input type="text" id="datepickerStart" placeholder="Start Date" />




<br />
<br />
<input id="btnSubmit" type="button" value="Get Info" onClick="GetPcode()" />
<br />

<hr />


<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="90%">
    </table>
</div>