﻿@{
    ViewBag.Title = "Get Late Bets";
}


@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("../Scripts/function.js?v=1.3.0")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/support.js?v=001")"></script>

}
@section css {
    <link href="@Url.Content("../Content/site_main.css?v=2")" rel="stylesheet" />
    <link href="@Url.Content("../Content/wpd.css?v=3")" rel="stylesheet" />
}
<h2>Get Late Bets </h2> Get Late Bets
<br />
<br />


<span>Date from:</span>

<input type="text" id="datepickerStart" placeholder="Start Date" />

<span>Date End:</span>
<input type="text" id="datepickerEnd" placeholder="End Date" />

<span>Time Diference:</span>
<select name="increase" id="increase">
    <option value="0">Less of 1 min</option>
    <option value="1">1 Minute or more</option>
    <option value="5"> 5 minutes</option>
    <option value="30">30 Minutes</option>
</select>

<br />
<br />
<input id="btnSubmit" type="button" value="Get Info" onClick="GetLateBets()" />
<br />

<hr />


<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="95%">
    </table>
</div>