﻿@{
    ViewBag.Title = "Support Site stats";
}


@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("../Scripts/function.js?v=1.3.0")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/support.js?v=00047")"></script>

}
@section css {
    <link href="@Url.Content("../Content/site_main.css?v=2")" rel="stylesheet" />
    <link href="@Url.Content("../Content/wpd.css?v=3")" rel="stylesheet" />
}
<h2>Web site Utilization </h2> Return the amount of bets per site on Date Range.
<br />
<br />


<span>Date from:</span>

<input type="text" id="datepickerStart" placeholder="Start Date" />


<span>Date to:</span>
<input type="text" id="datepickerEnd" readonly="readonly" name="endDate" />


<span>By Site (Optional</span>
<input type="text" id="Domain"  placeholder="Domain name"/> (Betsob)


<br />
<br />
<input id="btnSubmit" type="button" value="Get List" onClick="GetSites()" />
<br />

<hr />


<div id="div_Summary">
    <table id="PokerSummary" class="table_Result" width="100px">
    </table>
</div>

