﻿@{
    ViewBag.Title = "SMS List";
}


@section JavaScript
{

    <script type="text/javascript" src="@Url.Content("~/Scripts/sms.js?v=071")"></script>

}
@section css {
    <link href="@Url.Content("../Content/site_main.css?v=2")" rel="stylesheet" />
    <link href="@Url.Content("../Content/wpd.css?v=3")" rel="stylesheet" />
}
<h2>SMS LIST </h2> Return the payout code.
<br />
<br />


<span>Only Active:</span>

<input class="messageCheckbox" type="checkbox" value="1" name="IsActive">




<br />
<br />
<input id="btnSubmit" type="button" value="Get Info" onClick="getSMSLIST()" />
<br />

<hr />


<div id="div_Summary">
    <table id="SMSSummary" class="table_Result" width="90%">
    </table>
</div>